<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- 图片裁剪 -->
<body>
	
	<link rel="stylesheet" th:href="@{/assets/img_cut/style.css}" type="text/css" />
	
	<script type="text/javascript" th:src="@{/assets/img_cut/cropbox.js}"></script>
	
	<div class="container">
		<div class="imageBox">
			<div class="thumbBox"></div>
			<div class="spinner" style="display: none">Loading...</div>
		</div>
		<div class="action"> 
			<!-- <input type="file" id="file" style=" width: 200px">-->
			<div class="new-contentarea tc"> 
				<a href="javascript:void(0)" class="upload-img">
					<label for="upload-file">上传图像</label>
				</a>
			 	<input type="file" class="" name="upload-file" id="upload-file" />
			</div>
			<input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切" />
			<input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  />
			<input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" />
		</div>
		<div class="cropped"></div>
	</div>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function disabledMouseWheel() {  
	  if (document.addEventListener) {  
	    document.addEventListener('DOMMouseScroll', scrollFunc, false);  
	  }//W3C  
	  window.onmousewheel = document.onmousewheel = scrollFunc;//IE/Opera/Chrome  
	}  
	function scrollFunc(evt) {  
	  evt = evt || window.event;  
	    if(evt.preventDefault) {  
	    // Firefox  
	      evt.preventDefault();  
	      evt.stopPropagation();  
	    } else {  
	      // IE  
	      evt.cancelBubble=true;  
	      evt.returnValue = false;  
	  }  
	  return false;  
	}  
		
	$(window).load(function() {
		var options =
		{
			thumbBox: '.thumbBox',
			spinner: '.spinner',
			imgSrc: '../../assets/img_cut/avatar.png'
		}
		var cropper = $('.imageBox').cropbox(options);
		$('#upload-file').on('change', function(){
			var reader = new FileReader();
			reader.onload = function(e) {
				options.imgSrc = e.target.result;
				cropper = $('.imageBox').cropbox(options);
			}
			reader.readAsDataURL(this.files[0]);
			this.files = [];
		});
		$('#btnCrop').on('click', function(){
			var img = cropper.getDataURL();
			$.post([[@{/admin/post/cut}]],{"_":Math.random(),"imgStr":img},function(data){
				if(data.flag){
					console.info(data.path);
					$('.cropped').html('');
					$("#cover").val(data.name);
					$('.cropped').append('<img src="'+data.path+'" align="absmiddle" style="width:313px;height:198px;margin-top:4px;box-shadow:0px 0px 12px #7E7E7E;" /><p>313px*198px</p>');
				}else{
					cAlert(data.msg);
				}
			});
		});
		$('#btnZoomIn').on('click', function(){
			cropper.zoomIn();
		});
		$('#btnZoomOut').on('click', function(){
			cropper.zoomOut();
		});
		
		$(".imageBox").mouseover(function(){
			disabledMouseWheel();  
		});
		$(".imageBox").mouseout(function(){
			if (document.addEventListener) {  
				document.addEventListener('DOMMouseScroll', true, true);  
			}//W3C  
			window.onmousewheel = document.onmousewheel = true;//IE/Opera/Chrome  
		});
	});
	/*]]>*/
	</script>

</body>
</html>
