<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

  <meta charset="UTF-8" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  
  <script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
  <script th:src="@{/assets/js/common.js?ver=11}"></script> 
  
  <!-- easyui -->  
  <script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  <script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  <script th:src="@{/assets/plugins/easyui/custom/common.js?ver=f}"></script> 
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/gray/easyui.css}" />
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css?ver=f1}" />
  <!-- /easyui -->
  
</head>
<body>
</body>

</html>