<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

  <meta charset="UTF-8" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  
  <script th:src="@{/assets/js/jquery-1.10.1.min.js}"></script>
  
  <script th:src="@{/assets/js/base.js}"></script> 
  <link rel="stylesheet" th:href="@{/assets/css/base.css}" />

  <!-- easyui -->  
  <script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  <script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  <script th:src="@{/assets/plugins/easyui/custom/common.js}"></script> 
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/material/easyui.css}" />
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/color.css}" />
  <link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css}" />
  
   <!-- CSS 免前缀 -->
  <!-- <script src="http://leaverou.github.com/prefixfree/prefixfree.min.js"></script> -->
  
</head>

<body>
</body>

</html>