<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

	<meta charset="UTF-8" />
  	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  
  	<script th:src="@{/assets/js/jquery-1.10.1.min.js}"></script>
  
  	<!-- 自定义的基础 js 和 css -->
  	<script th:src="@{/assets/js/base.js}"></script> 
  
  	<link rel="stylesheet" th:href="@{/web/assets/css/style.css}" />
	<link rel="stylesheet" th:href="@{/web/assets/css/swiper.min.css}" />
</head>

<body>
</body>

</html>