/* 登录、注册、忘记密码 的body样式 */
.lrfBody{
	background-image:url('../../imgs/bg.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
    background-size:cover;
	overflow: hidden;
}

/* 登录、注册、忘记密码 的外部DIV样式 */
.lrfDiv{
   width:340px;  
   height:365px;  
   position:absolute;  
   left:50%;  
   top:40%;  
   text-align:center;
   border-radius:10px;
   margin:-100px 0 0 -150px;
   background: rgba(255, 255, 255, 0.51);
   box-shadow:0px 0px 20px 0px #FFFFFF inset;
}

.container{
	width:80%;
	margin: 10%; 
	text-align: center;
}
.container input{color:#C7C7C7;}
.container div{color:#A7A8AB;}

form>div{
	padding : 3px 10px;
}

//验证码宽度
#ca{
	width:150px;
}

@media all and (min-width:500px) and (max-width:1000px){
	.lrfDiv{
		width:500px;
		height:500px;
		left:40%; 
	}
	form>div{
		padding : 20px 10px;
	}
	#ca{
		width:280px;
	}
}