@charset "utf-8";
/* CSS Common */
.banner{width:1000px;margin:5px auto 0 auto;overflow:hidden;}
.defaultMain{width:998px;margin:5px auto 0 auto;overflow:hidden;clear:both;position:relative;z-index:999;}
/* ---------------------defaultMainLeft--------------------------- */
.defaultMain .defaultMainLeft{float:left;width:230px;overflow:hidden;}
.defaultMain .defaultMainLeft .banner{width:230px;margin:5px auto 0 auto;}
.defaultMain .defaultMainLeft .dirtitle{background:url(../img/icon-024.gif) no-repeat; line-height:31px;font-size:14px;text-align:center;font-weight:bold;color:#fff;}
/* 主菜单弹出框 */
.defaultMain .defaultMainLeft .indexMenu{display:block;}
.defaultMain .defaultMainLeft .sn_Menu_content{background:url(../img/icon-021.gif) no-repeat;width:230px;text-indent:0;margin-bottom:10px;border-top:none;z-index:5;}
.defaultMain .defaultMainLeft .sn_Menu_content dd {height:28px;line-height:28px;}
.defaultMain .defaultMainLeft .sn_Menu_content dd a.icon,.sn_Menu_content dd a:visited.icon {display:block;width:210px;height:28px;color:#000;margin-left:7px;font-size:14px;text-indent:35px;}
.defaultMain .defaultMainLeft .sn_Menu_content dd a.on,.sn_Menu_content dd a:visited.on {height:28px;line-height:28px;border-right:none;text-indent:35px;font-weight:700;color:#00369c;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav01 dd a.on,.sn_Menu_content .sidenav01 dd a:visited.on {background-position:-207px -224px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav02 dd a.on,.sn_Menu_content .sidenav02 dd a:visited.on {background-position:-207px -260px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav03 dd a.on,.sn_Menu_content .sidenav03 dd a:visited.on {background-position:-207px -295px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav04 dd a.on,.sn_Menu_content .sidenav04 dd a:visited.on {background-position:-207px -330px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav05 dd a.on,.sn_Menu_content .sidenav05 dd a:visited.on {background-position:-207px -365px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav06 dd a.on,.sn_Menu_content .sidenav06 dd a:visited.on {background-position:-207px -400px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav07 dd a.on,.sn_Menu_content .sidenav07 dd a:visited.on {background-position:-207px -435px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav08 dd a.on,.sn_Menu_content .sidenav08 dd a:visited.on {background-position:-207px -470px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav09 dd a.on,.sn_Menu_content .sidenav09 dd a:visited.on {background-position:-207px -505px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav10 dd a.on,.sn_Menu_content .sidenav10 dd a:visited.on {background-position:-207px -540px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav11 dd a.on,.sn_Menu_content .sidenav11 dd a:visited.on {background-position:-207px -575px;}
.defaultMain .defaultMainLeft .sideleft {display:inline;float:left;padding-top:6px;padding-left:20px;padding-bottom:20px;border-right:1px solid #d7e9ff; overflow:hidden;}
.defaultMain .defaultMainLeft .sideleft h3 {width:370px;height:24px;line-height:24px;font-size:12px;font-weight:700;color:#000;}
.defaultMain .defaultMainLeft .sideleft li {display:inline;float:left;width:370px;margin-right:5px;border-top:1px solid #dbeafd;}
.defaultMain .defaultMainLeft .sideleft li.noline {border-top:none;}
.defaultMain .defaultMainLeft .sideleft li b {float:left;width:78px;margin-top:11px;margin:0;}
.defaultMain .defaultMainLeft .sideleft li div {float:left;width:292px;margin-bottom:10px;}
.defaultMain .defaultMainLeft .sideleft li div a,.sideleft li div a:visited {float:left;margin:11px 10px 0 0;margin-top:10px;padding:0 0 0 10px;white-space:nowrap;border-left:1px solid #ccc;height:14px;line-height:14px;color:#000;}
.defaultMain .defaultMainLeft .sideleft li b a,.sideleft li b a:visited {font-weight:normal;color:#00369c;border:none;}
.defaultMain .defaultMainLeft .sideleft li div a:hover {color:#f60;text-decoration:underline;}
.defaultMain .defaultMainLeft .sideright { float:right;}
.defaultMain .defaultMainLeft .sideright h3 {height:28px;line-height:28px;padding-top:5px;padding-left:10px;font-size:12px;font-weight:700;color:#000;}
.defaultMain .defaultMainLeft .sideright li {display:inline;float:left;width:60px;line-height:26px;margin-left:14px;overflow:hidden;}
.defaultMain .defaultMainLeft .sideright li a,.sideright li a:visited {color:#666;}
.defaultMain .defaultMainLeft .sideright li a:hover {color:#f60;text-decoration:underline;}
.defaultMain .defaultMainLeft .siderighticon {position:absolute;right:20px;top:7px;width:15px;height:15px;text-indent:-9999px;overflow:hidden;}
.defaultMain .defaultMainLeft .siderighticon a,.siderighticon a:visited {display:block;width:15px;height:15px;background:url(images/main.gif) no-repeat -200px -40px;}
.defaultMain .defaultMainLeft .sidenavchild {background:#fff; display:none; overflow:hidden;}
.defaultMain .defaultMainLeft .sidenavlink01 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink01 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink01 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink02 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink02 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink02 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink03 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink03 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink03 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink04 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink04 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink04 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink05 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink05 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink05 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink06 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink06 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink06 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink07 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink07 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink07 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink08 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink08 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink08 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink09 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink09 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink09 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink10 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink10 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink10 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink11 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink11 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink11 .sideright {float:right;width:116px;}

/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList01{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;}
.defaultMain .defaultMainLeft .theleftList01 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList01 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList01 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList01 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList01 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList01 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList01 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList01 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList01 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList01 li p span{color:#c00000;}
/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList02{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList02 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList02 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList02 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList02 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList02 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList02 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList02 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList02 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList02 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList02 li p span{color:#c00000;}
/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList03{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList03 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList03 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList03 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList03 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList03 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList03 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList03 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList03 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList03 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList03 li p span{color:#c00000;}

/*-----------------------------------defaultMainRight----------------------------------*/
.defaultMain .defaultMainRight{float:right;width:758px;overflow:hidden;}
.defaultMain .defaultMainRight .banner{width:758px;margin-top:5px;}

/* thelistone */
.defaultMain .defaultMainRight .thelistone{width:758px;font-family:Arial, Helvetica, sans-serif; clear:both;overflow:hidden;}
.defaultMain .defaultMainRight .thelistone .slide{float:left;width:520px;}
.defaultMain .defaultMainRight .thelistone .Notice{float:right;width:230px;}
.defaultMain .defaultMainRight .thelistone .Notice dt{line-height:42px;background:url(../img/icon-010.gif) no-repeat;font-size:16px;font-weight:bold;text-indent:25px;}
.defaultMain .defaultMainRight .thelistone .Notice dd{border:1px solid #dddddd;border-top:none;}
.defaultMain .defaultMainRight .thelistone .Notice li{line-height:23px;color:#b7b7b7;background:url(../img/icon-022.gif) no-repeat 15px center;text-indent:25px;}
.defaultMain .defaultMainRight .thelistone .Notice li a{text-align:left;margin-left:5px;}
.defaultMain .defaultMainRight .thelistone .Notice li.more{text-align:right;background:none;padding-right:5px;}
/* thelistwo */
.defaultMain .defaultMainRight .thelistwo{width:756px;border:1px solid #dddddd;margin-top:10px;font-family:Arial, Helvetica, sans-serif; clear:both;overflow:hidden;}
.defaultMain .defaultMainRight .thelistwo dt{width:96%;margin:0 auto;line-height:44px;height:44px;background:url(../img/icon-025.gif) repeat-x;position:relative;text-align:right;padding-right:10px;}
.defaultMain .defaultMainRight .thelistwo dt img{position:absolute;left:15px;top:12px;}
.defaultMain .defaultMainRight .thelistwo dt a{background:url(../img/icon-004.gif) no-repeat right center;padding:0 7px;}
.defaultMain .defaultMainRight .thelistwo dd{padding:0 0 20px 0;overflow:hidden;}
.defaultMain .defaultMainRight .thelistwo dd li{float:left;width:172px;line-height:16px;margin-top:15px;margin-left:10px;display:inline;color:#de0615;}
.defaultMain .defaultMainRight .thelistwo dd li span{color:#aaaaaa;padding-left:10px;text-decoration:line-through;}
.defaultMain .defaultMainRight .thelistwo dd li p{margin-top:5px; height:36px; overflow:hidden;}
.defaultMain .defaultMainRight .thelistwo dd li a{color:#23408a;}
.defaultMain .defaultMainRight .thelistwo dd li a:hover{color:#da1a19;text-decoration:underline;}
.defaultMain .defaultMainRight .thelistwo dd li img{border:1px solid #e0e0e0;padding:2px;}
/* thelisthree */
.defaultMain .defaultMainRight .thelisthree{width:756px;border:1px solid #dddddd;margin-top:10px;font-family:Arial, Helvetica, sans-serif; clear:both;overflow:hidden;}
.defaultMain .defaultMainRight .thelisthree dt{width:96%;margin:0 auto;height:51px;line-height:71px;overflow:hidden;background:url(../img/icon-026.gif) repeat-x;position:relative;text-align:right;padding-right:10px;}
.defaultMain .defaultMainRight .thelisthree dt img{position:absolute;left:15px;top:20px;}
.defaultMain .defaultMainRight .thelisthree dt a{background:url(../img/icon-004.gif) no-repeat right center;padding:0 7px;color:#fff;}
.defaultMain .defaultMainRight .thelisthree dt a:hover{padding:0 7px;color:#fff;text-decoration:underline;}
.defaultMain .defaultMainRight .thelisthree dd{padding:0 0 20px 0;overflow:hidden;}
.defaultMain .defaultMainRight .thelisthree dd li{float:left;width:172px;line-height:16px;margin-top:15px;margin-left:10px;display:inline;color:#de0615;}
.defaultMain .defaultMainRight .thelisthree dd li span{color:#aaaaaa;padding-left:10px;text-decoration:line-through;}
.defaultMain .defaultMainRight .thelisthree dd li p{margin-top:5px; height:36px; overflow:hidden;}
.defaultMain .defaultMainRight .thelisthree dd li a{color:#23408a;}
.defaultMain .defaultMainRight .thelisthree dd li a:hover{color:#da1a19;text-decoration:underline;}
.defaultMain .defaultMainRight .thelisthree dd li img{border:1px solid #e0e0e0;padding:2px;}
/* thelistfour */
.defaultMain .defaultMainRight .thelistfour{width:756px;border:1px solid #dddddd;margin-top:10px;font-family:Arial, Helvetica, sans-serif; clear:both;overflow:hidden;}
.defaultMain .defaultMainRight .thelistfour dt{width:96%;margin:0 auto;height:51px;line-height:61px;overflow:hidden;background:url(../img/icon-027.gif) repeat-x;position:relative;text-align:right;padding-right:10px;}
.defaultMain .defaultMainRight .thelistfour dt img{position:absolute;left:15px;top:15px;}
.defaultMain .defaultMainRight .thelistfour dt a{background:url(../img/icon-004.gif) no-repeat right center;padding:0 7px;color:#fff;}
.defaultMain .defaultMainRight .thelistfour dt a:hover{padding:0 7px;color:#fff;text-decoration:underline;}
.defaultMain .defaultMainRight .thelistfour dd{padding:0 0 20px 0;overflow:hidden;}
.defaultMain .defaultMainRight .thelistfour dd li{float:left;width:172px;line-height:16px;margin-top:15px;margin-left:10px;display:inline;color:#de0615;}
.defaultMain .defaultMainRight .thelistfour dd li span{color:#aaaaaa;padding-left:10px;text-decoration:line-through;}
.defaultMain .defaultMainRight .thelistfour dd li p{margin-top:5px; height:36px; overflow:hidden;}
.defaultMain .defaultMainRight .thelistfour dd li a{color:#23408a;}
.defaultMain .defaultMainRight .thelistfour dd li a:hover{color:#da1a19;text-decoration:underline;}
.defaultMain .defaultMainRight .thelistfour dd li img{border:1px solid #e0e0e0;padding:2px;}

/* 底部帮助文档 */
.help{width:998px;margin:10px auto 0 auto;overflow:hidden;clear:both;border:1px solid #e9e9e9;padding-bottom:10px;}
.help dl{width:19%;float:left;}
.help dl dt{line-height:70px;font-size:17px;font-family:'Microsoft Yahei';}
.help dl dd{padding-left:40px;line-height:22px;color:#ccc;}

.help .file-01 dt{background:url(../img/icon-028.gif) no-repeat 10px 10px;text-indent:85px;}

.help .file-02 dt{background:url(../img/icon-028.gif) no-repeat 10px -50px;text-indent:85px;}

.help .file-03 dt{background:url(../img/icon-028.gif) no-repeat 10px -120px;text-indent:85px;}

.help .file-04 dt{background:url(../img/icon-028.gif) no-repeat 10px -190px;text-indent:75px;}

.help .file-05 dt{background:url(../img/icon-028.gif) no-repeat 10px -250px;text-indent:75px;}





















