@charset "utf-8";
/*sortlist*/
#sortlist .mt{height:24px;padding:3px 8px;background:url(../images/bg_tit_home.gif) #b4a06d no-repeat 0 0;line-height:24px;}
#sortlist h2{color:#897b34;}
#sortlist .mc{width:209px;border:solid #b4a06d;border-width:0 1px 1px;background:#FFFFF5;}
#sortlist .item{padding:0 2px;}
#sortlist h3{height:16px;padding:3px 6px;margin-bottom:2px;background:url(../images/bg_hotsale.gif) #fafafa repeat-x 0 -655px;border:1px solid #EFEFEF;line-height:15px;cursor:pointer;color:#928a64;font-weight:normal;}
#sortlist b{float:right;width:14px;height:14px;margin-top:1px;background:url(../images/bg_hotsale.gif) no-repeat right -480px;overflow:hidden;cursor:pointer;}
#sortlist ul{padding:6px 0 6px 6px;overflow:hidden;zoom:1;display:none;}
#sortlist li{float:left;width:95px;height:18px;padding:3px 4px 3px 0;overflow:hidden;}
#sortlist .current b{background-position:right -466px;}
#sortlist .current ul{display:block;}

.tsortlist{margin-bottom:10px;margin-top:10px;}
.tsortlist .mt{height:24px;padding:3px 8px;background:url(../images/bg_tit_home.gif) #b4a06d no-repeat 0 0;line-height:24px;}
.tsortlist h2{color:#897b34;}
.tsortlist .mc{width:209px;border:solid #b4a06d;border-width:0 1px 1px;background:#FFFFF5;overflow:hidden}
.tsortlist .item{padding:0 2px;}
.tsortlist h3{height:16px;padding:3px 6px;margin-bottom:2px;background:url(../images/bg_hotsale.gif) #fafafa repeat-x 0 -655px;border:1px solid #EFEFEF;line-height:15px;cursor:pointer;color:#928a64;font-weight:normal;}
.tsortlist b{float:right;width:14px;height:14px;margin-top:1px;background:url(../images/bg_hotsale.gif) no-repeat right -480px;overflow:hidden;cursor:pointer;}
.tsortlist ul{padding:6px 0 6px 6px;overflow:hidden;zoom:1;}
.tsortlist li{float:left;width:95px;height:18px;padding:3px 4px 3px 0;overflow:hidden;}
.tsortlist .current b{background-position:right -466px;}
.tsortlist .current ul{display:block;}
/*limitbuy*/
.limitbuy .mt{height:24px;padding:3px 8px;background:url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;line-height:24px;}
.limitbuy .mc{border:solid #E6E6E6;border-width:0 1px 1px;padding-bottom:6px;}
.limitbuy .clock{text-align:center;}
.limitbuy .clock b{padding:0 3px;font-size:20px;font-family:arial;color:#C00;}
.limitbuy li{padding:0 10px;text-align:center;}
.limitbuy .p-img{width:189px;margin:3px 0;position:relative;}
.limitbuy .p-market{display:none;}
/*rank*/
.rank .mt{height:24px;padding:3px 8px;background:url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;line-height:24px;}
.rank .mc{padding:0 1px;border:solid #E6E6E6;border-width:0 1px 1px;}
.rank .tabcon li{float:left;width:197px;padding:6px 5px;border-top:1px solid #efefef;overflow:hidden;height:22px;line-height:22px;}
.rank .tabcon span{float:left;padding:0 8px 0 4px;font-size:14px;font-weight:bold;color:#C00;font-family:arial;}
.rank .tabcon .p-name{float:left;width:176px;height:22px;overflow:hidden;}
.rank .tabcon .fore{padding:10px 5px 10px;height:56px;border-top:0;}
.rank .tabcon .fore .p-img{float:left;margin-right:5px;}
.rank .tabcon .fore .p-name{width:120px;height:3em;line-height:1.5em;}
.rank .tabcon .fore .p-price{float:left;height:18px;margin-top:2px;line-height:18px;}
/*recent*/
#recent .mt{height:24px;padding:3px 8px;background:url(../images/bg_tit_home.gif) #E6E6E6 repeat-x 0 -60px;line-height:24px;}
#recent h2{float:left;}
#recent .mc{padding:0 1px;border:solid #E6E6E6;border-width:0 1px 1px;}
#recent li{padding:5px 0;overflow:hidden;background:url(../images/bg_tit_home.gif) repeat-x 0 -597px;zoom:1;}
#recent .p-img{float:left;padding-left:8px;margin-right:5px;}
#recent .p-name{float:left;width:140px;margin-top:10px;}
#recent .norecode{padding:5px 7px;}
#recent .iloading{margin-top:5px;margin-bottom:5px;}
/*i-right&hotsale&market*/
#i-right{height:155px;background:url(../images/bg_hotsale.gif) repeat-x 0 -156px;position:relative;}
#i-right h2{width:60px;height:16px;margin-bottom:10px;background-image:url(../images/bg_hotsale.gif);background-repeat:no-repeat;font-size:0;line-height:100px;overflow:hidden;}
#hotsale{float:left;width:550px;position:absolute;top:-1px;left:-1px;height:130px;padding:16px 0 10px 30px;background:url(../images/bg_hotsale.gif) no-repeat 0 0;}
#hotsale h2{background-position:0 -597px;margin-left:20px;}
#hotsale .mt,#hotsale .mc{border-right:1px solid #efefef;}
#hotsale .mc{height:104px;}
#hotsale dl{width:256px;overflow:hidden;}
#hotsale dt{float:left;width:100px;margin-right:6px;}
#hotsale dd{float:left;width:146px;}
#hotsale .p-name{height:30px;line-height:15px;}
#hotsale .p-name a:link,#hotsale .p-name a:visited{color:#947e32;}
#hotsale .btns{margin-top:5px;}
#hotsale .btns a:link,#hotsale .btns a:visited{display:block;width:64px;height:25px;background:url(../images/bg_hotsale.gif) no-repeat 0 -466px;text-align:center;line-height:25px;font-size:12px;color:#fff;text-decoration:none;}
#market{float:right;width:160px;height:130px;padding:16px 10px 10px;background:url(../images/bg_hotsale.gif) no-repeat right -311px;}
#market h2{background-position:0 -614px;}
#market li{height:20px;line-height:20px;overflow:hidden;}
/*select*/
#select{border-top:2px solid #EED97C;}
#select .mt{height:28px;line-height:28px;padding:0 10px 8px;background:url(../images/bg_hotsale.gif) repeat-x 0 -552px;}
#select h1{float:left;height:28px;line-height:28px;font-size:14px;color:#897b34;}
#select strong{float:left;font-size:14px;color:#897b34;}
#select .extra a{color:#947e32;}
#select dl{width:973px;padding:4px 0 2px;margin:0 5px;overflow:hidden;zoom:1;border-top:1px dashed #E7CDAE;}
#select dl.fore{border-top:0;}
#select dt{float:left;width:100px;font-weight:bold;text-align:right;line-height:25px;}
#select dd{float:right;width:872px;overflow:hidden;}
#select dd div{float:left;height:20px;margin-right:15px;padding-top:5px;}
#select dd a{height:15px;line-height:15px;text-decoration:none;overflow:hidden;white-space:nowrap;}
#select dd a:link,#select dd a:visited{color:#947e32;}
#select dd a:hover,#select dd a:active,#select dd a.curr:link,#select dd a.curr:visited{background:#897b34;color:#fff;}
/*advanced*/
#advanced{position:relative;height:4px;border:1px solid #E6E6E6;overflow:visible;margin-bottom:30px;}
#advanced div{position:absolute;width:60px;height:20px;padding-right:19px;top:4px;left:451px;border-left:1px solid #E6E6E6;border-right:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;border-top:1px solid #fff;line-height:20px;text-align:right;background:url(../images/bg_tit_home.gif) #E6E6E6 no-repeat -10px -32px;}
#advanced div b{display:block;position:absolute;top:6px;right:10px;overflow:hidden;width:7px;height:8px;background:url(../images/bg_hotsale.gif) no-repeat -65px -632px;}
#advanced a{color:#947e32;}
/*filter*/
#filter .item{float:left;padding:0 5px;}
#filter .fore{padding:3px 0 0 30px;height:24px;line-height:24px;}
#filter .tab li{position:relative;height:27px;background:url(../images/bg_hotsale.gif) #ccc no-repeat right -524px;overflow:hidden;margin-right:3px;}
#filter .tab span{position:absolute;left:0;top:0;z-index:1;width:10px;height:27px;background:url(../images/bg_hotsale.gif) no-repeat 0 -524px;}
#filter .tab a{position:relative;z-index:2;display:block;float:left;height:24px;padding:3px 15px 0;line-height:24px;font-size:14px;font-weight:bold;color:#b48c0b;}
#filter .tab .curr{background-position:right -496px;}
#filter .tab .curr span{background-position:0 -496px;}
#filter .tab .curr a{color:#fff;}
#filter .extra{overflow:hidden;height:24px;line-height:28px;border-top:2px solid #b48c0b;padding:0 10px;background:url(../images/bg_hotsale.gif) repeat-x 0 -552px;text-align:right;color:#897b34;}
#filter .extra li{position:relative;float:left;margin-right:20px;padding-left:20px;}
#filter .extra li b{position:absolute;top:6px;left:0;width:16px;height:16px;background:url(../images/bg_hotsale.gif) no-repeat -68px -677px;cursor:pointer;}
#filter .extra li a{color:#f60;text-decoration:none;}
#filter .extra .selected b{background-position:-51px -677px;}
#filter .price a{padding-left:22px;}
#filter .price b{display:block;position:absolute;top:9px;left:8px;z-index:2;width:10px;height:10px;background-image:url(../images/bg_hotsale.gif);background-repeat:no-repeat;overflow:hidden;}
#filter .up b{background-position:-62px -597px;}
#filter .down b{background-position:-73px -597px;}
/*storeinfo*/
#filter #o-storeinfo{width:300px;height:23px;padding:4px 0 0 20px;}
#storeinfo{float:left;position:relative;z-index:10;margin:-4px 4px 0;}
#storeinfo .i-storeinfo{height:25px;background:url(../images/bg_store.gif) no-repeat right top;cursor:pointer;}
#storeinfo .i-storeinfo div{height:25px;padding:0 16px 0 5px;background:url(../images/bg_store.gif) no-repeat -81px -25px;line-height:25px;}
#storeinfo dl{position:absolute;margin-top:-2px;width:410px;padding:5px;border:2px solid #EED97C;background:#fff;display:none;-moz-border-radius:0 5px 5px;-webkit-border-radius:0 5px 5px;}
#storeinfo dt{color:#999;}
#storeinfo dd{padding-bottom:5px;}
#storeinfo a{color:#947e32;white-space:nowrap;}
#storeinfo a:hover{background:#947e32;color:#fff;cursor:pointer;}
#storeinfo.hover .i-storeinfo{position:relative;z-index:2;background:url(../images/bg_store.gif) no-repeat right -50px;}
#storeinfo.hover .i-storeinfo div{background:url(../images/bg_store.gif) no-repeat -81px -75px;}
#storeinfo.hover dl{display:block;}
*html #storeinfo .i-storeinfo{float:left;}
*html #storeinfo .i-storeinfo div{float:left;}
*html #storeinfo dl{top:25px;left:0;}
/*plist*/
#plist li{width:215px;padding:0 15px 10px;text-align:center;font-family:arial,"宋体";}
#plist .p-img{position:relative;height:160px;}
#plist .p-price{margin-top:5px;height:22px;}
#plist .p-price em{color:#D22C00;font-size:11px;}
#plist .p-price strong{color:#D22C00;font-size:14px;}
#plist .stocklist{display:none;}
#plist .extra{margin-top:5px;padding:2px 0;height:16px;line-height:16px;overflow:hidden;}
#plist .evaluate{color:#947e32;}
#plist .evaluate a:link,#plist .evaluate a:visited{color:#947e32;}
#plist .reputation{display:none;color:#1A8705;}
#plist .btns{margin-top:10px;padding-left:30px;}
#plist .btn-buy,#plist .btn-coll,#plist .btn-comp,#plist .btn-none{float:left;width:50px;height:22px;line-height:22px;text-align:center;background:url(../images/bg_hotsale.gif) no-repeat 0 -632px;margin-right:5px;}
#plist .btn-coll,#plist .btn-comp{border:0;cursor:pointer;}
#plist .btn-none{background-position:0 -677px;color:#c30;cursor:not-allowed;}
/*co-product*/
#co-product{position:relative;border:1px solid #ccc;background:url(../images/bg_co_product.jpg) repeat-x 0 -25px;}
#co-product h2{height:30px;padding:0 8px;line-height:30px;color:#c30;}
#co-product h2 .img{position:absolute;top:0px;left:0px;width:159px;height:24px;background:url(../images/bg_co_product.jpg) no-repeat 0 0;}
#co-product li{width:215px;padding:0 15px 10px;text-align:center;font-family:arial,"宋体";}
#co-product .p-img{height:160px;}
/*promotion*/
.pi1,.pi2,.pi3,.pi4,.pi5,.pi6,.pi7,.pi8,.pi9,.pi10{position:absolute;width:54px;height:60px;top:0;right:0;background-image:url(../images/icon_promotion.gif);background-repeat:no-repeat;}
.pi1{background-position:0 0;}
.pi2{background-position:-54px 0;}
.pi3{background-position:-108px 0;}
.pi4{background-position:0 -60px;}
.pi5{background-position:-54px -60px;}
.pi6{background-position:-108px -60px;}
.pi7{background-position:0 -120px;}
.pi8{background-position:-54px -120px;}
.pi9{background-position:-162px 0;}
.pi10{background-position:-162px -60px;}
.pt1,.pt2,.pt3,.pt4{display:inline-block;width:28px;height:16px;margin:0 2px;overflow:hidden;background-image:url(../images/icon_promotion.gif);background-repeat:no-repeat;line-height:100px;font-size:0;margin-bottom:-3px;*margin-bottom:12px;}
.pt1{background-position:-71px -180px;}
.pt2{background-position:-100px -180px;}
.pt3{background-position:-42px -180px;}
.pt4{background-position:0 -180px;width:41px;}
/*store*/
a.st1,a.st2,a.st3{text-decoration:none;}
.st1 b,.st2 b,.st3 b{display:inline-block;position:relative;top:2px;width:12px;height:12px;background-image:url(../images/icon_promotion.gif);background-repeat:no-repeat;margin-right:2px;}
.st1 b{background-position:0 -196px;}
.st2 b{background-position:-13px -196px;}
.st3 b{background-position:-26px -196px;}
*+html .st1 b,*+html .st2 b,*+html .st3 b{top:-1px;}
/*Tip360*/
.Tip360{width:380px;overflow:hidden;background:#fff;position:absolute;border:1px solid #959595;z-index:20002;display:none;}
.Tip360 strong{color:#FF6600;}
.w260{width:260px;}
.Tip_Title{height:26px;line-height:26px;padding:0 8px;background:#0067AA;color:#fff;}
.Tip_Title em{float:right;margin-top:6px;cursor:pointer;}
.Tip_Content{padding:10px;overflow:hidden;text-align:center;zoom:1;}
.Tip_Img{width:110px;height:96px;float:left;}
.Tip_Img img{width:100px;height:75px;padding:10px 5px;}
.Tip_Text{width:240px;float:right;text-align:left;}
.Tip_Text1{font-size:14px;height:40px;line-height:40px;font-weight:bold;background:url(../images/right_03.jpg) no-repeat left center;padding:15px 0 15px 40px;}
.Tip_Submit{background:#f2f2f2;border-top:1px solid #ccc;height:24px;padding:3px 5px;}
.Tip_Submit a:link,.Tip_Submit a:visited,.Tip_Submit2 a:link,.Tip_Submit2 a:visited{display:block;height:20px;border:1px solid #0067AA;padding:1px;float:right;text-decoration:none;cursor:pointer;margin-left:10px;}
.Tip_Submit span,.Tip_Submit2 span{display:block;height:20px;line-height:20px;padding:0 5px;background:#0067AA;color:#fff;float:left;}