<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IJobDao">

	<select id="getAllJobs" resultType="com.FangBianMian.domain.Job">
		SELECT * FROM job 
		<if test="param.sort!=null and param.order!=null">
			ORDER BY #{param.sort} #{param.order}
		</if>
		LIMIT #{param.page}, #{param.rows}
	</select>

	<select id="getJobTotal" resultType="int">
		SELECT COUNT(1) FROM job
	</select>

</mapper>