<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IMemberDao">

	<!-- 保存用户 -->
	<insert id="insertMember" parameterType="com.FangBianMian.domain.Member">
		INSERT INTO member
		<set>
			<if test="username!=null">username = #{username},</if>
			<if test="password!=null">password = #{password},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="balance!=null">balance = #{balance},</if>
			<if test="login_num!=null">login_num = #{login_num},</if>
			<if test="message!=null">message = #{message},</if>
			create_time = now()
		</set>
	</insert>

	<!-- 更新用户 -->
	<insert id="updateMember" parameterType="com.FangBianMian.domain.Member">
		UPDATE member
		<set>
			<if test="password!=null">password = #{password},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="balance!=null">balance = #{balance},</if>
			<if test="login_num!=null">login_num = #{login_num},</if>
			<if test="message!=null">message = #{message}</if>
		</set>
		WHERE username = #{username}
	</insert>

	<!-- 通过用户ID查询用户 -->
	<select id="queryMemberByUsername" resultType="com.FangBianMian.domain.Member">
		SELECT * FROM member WHERE username = #{username}
	</select>

	<!-- 查询所有用户 -->
	<select id="queryMembersByParam" resultType="com.FangBianMian.domain.Member">
		SELECT * FROM member
		<where>
			<if test="param.name!=null">username LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND status = ${param.status}</if>
			<!-- 查询是否有等待处理的用户；如：等待发送验证码 和 等待登录 的用户 -->
			<if test="param.wait_option!=null">
				AND (status = -2 OR status = 0)
			</if>
		</where>
		ORDER BY status ASC
		<if test="param.page!=null">
			LIMIT #{param.page}, #{param.rows}
		</if>
	</select>

	<!-- 查询所有用户总数 -->
	<select id="queryMembersByParamTotal" resultType="int">
		SELECT COUNT(1) FROM member
		<where>
			<if test="param.name!=null">username LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND status = ${param.status}</if>
			<!-- 查询是否有等待处理的用户；如：等待发送验证码 和 等待登录 的用户 -->
			<if test="param.wait_option!=null">
				AND (status = -2 OR status = 0)
			</if>
		</where>
	</select>

</mapper>