<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IOrderDao">

	<resultMap type="com.FangBianMian.domain.Orders" id="ordersMap">
		<id property="id" column="id"/>
		<result property="sn" column="sn"/>
		<result property="express" column="express"/>
		<result property="mid" column="mid"/>
		<result property="amount_paid" column="amount_paid"/>
		<result property="amount" column="amount"/>
		<result property="discount" column="discount"/>
		<result property="receiver" column="receiver"/>
		<result property="phone" column="phone"/>
		<result property="address" column="address"/>
		<result property="deliver_type" column="deliver_type"/>
		<result property="status" column="status"/>
		<result property="freight" column="freight"/>
		<result property="message" column="message"/>
		<result property="postcode" column="postcode"/>
		<result property="payment_type" column="payment_type"/>
		<result property="delivery_time" column="delivery_time"/>
		<result property="create_time" column="create_time"/>
		
		<collection property="items" column="id" javaType="List" ofType="com.FangBianMian.domain.OrdersItem" select="selectOrdersItemByOid"></collection>
		<collection property="logs" column="id" javaType="List" ofType="com.FangBianMian.domain.OrdersLog" select="selectOrdersLogByOid"></collection>
	</resultMap>
	
	<!-- 删除订单 -->
	<update id="deleteOrderById">
		UPDATE orders SET invisible = 1 WHERE id = #{oid}
	</update>
	
	<!-- 插入订单日志 -->
	<insert id="insertOrderLog" parameterType="com.FangBianMian.domain.OrdersLog">
		INSERT INTO orders_log 
		<set>
			oid = #{oid},
			status = #{status},
			content = #{content},
			create_time = now()
		</set>
	</insert>
	
	<!-- 插入订单商品条目 -->
	<insert id="insertOrderItem" parameterType="com.FangBianMian.domain.OrdersItem">
		INSERT INTO orders_item
		<set>
			oid = #{oid},
			pid = #{pid},
			name = #{name},
			quantity = #{quantity},
			price = #{price},
			image = #{image},
			category = #{category}
		</set>
	</insert>
	
	<!-- 保存订单 -->
	<insert id="insertOrder" parameterType="com.FangBianMian.domain.Orders">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
    		select LAST_INSERT_ID()
    	</selectKey>
		INSERT INTO orders
		<set>
			<if test="mid!=null">mid = #{mid},</if>
			<if test="sn!=null">sn = #{sn},</if>
			<if test="amount!=null">amount = #{amount},</if>
			<if test="amount_paid!=null">amount_paid = #{amount_paid},</if>
			<if test="discount!=null">discount = #{discount},</if>
			<if test="receiver!=null">receiver = #{receiver},</if>
			<if test="phone!=null">phone = #{phone},</if>
			<if test="address!=null">address = #{address},</if>
			<if test="deliver_type!=null">deliver_type = #{deliver_type},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="freight!=null">freight = #{freight},</if>
			<if test="message!=null">message = #{message},</if>
			<if test="postcode!=null">postcode = #{postcode},</if>
			<if test="payment_type!=null">payment_type = #{payment_type},</if>
			create_time = now()
		</set>
	</insert>
	
	<!-- 根据订单ID查询订单 -->
	<select id="queryOrdersByOid" resultMap="ordersMap">
		SELECT * FROM orders WHERE id = #{id}
	</select>

	<!-- 更新订单状态 -->
	<update id="updateOrderStatus">
		UPDATE orders
		<set>
			<if test="param.status!=null">status = #{param.status},</if>
			<if test="param.express!=null">
				express = #{param.express},
				delivery_time = now()
			</if>
		</set>
		WHERE id = #{param.oid}
	</update>

	<!-- 查询所有订单 -->
	<select id="queryOrdersByParam" resultMap="ordersMap">
		SELECT * FROM orders
		<where>
			<if test="param.invisible!=null">invisible = #{param.invisible}</if>
			<if test="param.mid!=null">AND mid = #{param.mid}</if>
			<if test="param.sn!=null">AND sn LIKE '%${param.sn}%'</if>
			<if test="param.status!=null">AND status = #{param.status}</if>
			<if test="param.sdate!=null">AND create_time >= #{param.sdate}</if>
			<if test="param.edate!=null"><![CDATA[AND create_time <= #{param.edate}]]></if>
		</where>
		<if test="param.page!=null">
			LIMIT #{param.page},#{param.rows}
		</if>
	</select>

	<!-- 查询所有订单总数 -->
	<select id="queryOrdersByParamTotal" resultType="int">
		SELECT COUNT(1) FROM orders
		<where>
			<if test="param.invisible!=null">invisible = #{param.invisible}</if>
			<if test="param.mid!=null">AND mid = #{param.mid}</if>
			<if test="param.sn!=null">AND sn LIKE '%${param.sn}%'</if>
			<if test="param.status!=null">AND status = #{param.status}</if>
			<if test="param.sdate!=null">AND create_time >= #{param.sdate}</if>
			<if test="param.edate!=null"><![CDATA[AND create_time <= #{param.edate}]]></if>
		</where>
	</select>
	 
	<!-- 查询订单商品条目 -->
	<select id="selectOrdersItemByOid" resultType="com.FangBianMian.domain.OrdersItem">
		SELECT * FROM orders_item WHERE oid = #{id}
	</select>
	
	<!-- 查询订单日志 -->
	<select id="selectOrdersLogByOid" resultType="com.FangBianMian.domain.OrdersLog">
		SELECT * FROM orders_log WHERE oid = #{id}
	</select>

</mapper>