<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IProductDao">

	<!-- 商品映射 -->
	<resultMap type="com.FangBianMian.domain.Product" id="productResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="category_id" column="category_id"/>
		<result property="price" column="price"/>
		<result property="discount_price" column="discount_price"/>
		<result property="freight_price" column="freight_price"/>
		<result property="payment_type" column="payment_type"/>
		<result property="quantity" column="quantity"/>
		<result property="detail" column="detail"/>
		<result property="default_img" column="default_img"/>
		<result property="status" column="status"/>
		<result property="hot" column="hot"/>
		<result property="create_time" column="create_time"/>
		
		<result property="saled_num" column="saled_num"/>
		<result property="score" column="score"/>

		<collection property="imgs" column="id" javaType="List" ofType="com.FangBianMian.domain.ProductImg" select="selectProductImgByPid"></collection>
	</resultMap>
	
	<!-- 删除商品 -->
	<update id="deleteProductById">
		UPDATE product SET invisible = 1 WHERE id = #{id}
	</update>
	
	<!-- 删除商品图片 -->
	<delete id="deleteProductImgs">
		DELETE FROM product_img WHERE pid = #{pid}
	</delete>
	
	<!-- 保存商品图片 -->
	<insert id="insertProductImgs">
		INSERT INTO product_img(pid,img) VALUES
		<foreach collection="imgs" item="img" separator=",">
			<if test="img!=''">(#{pid}, #{img})</if>
		</foreach>
	</insert>
	
	<!-- 更新商品 -->
	<update id="updateProduct" parameterType="com.FangBianMian.domain.Product">
		UPDATE product
		<set>
			<if test="name!=null">name = #{name},</if>
			<if test="category_id!=null">category_id = #{category_id},</if>
			<if test="price!=null">price = #{price},</if>
			<if test="discount_price!=null">discount_price = #{discount_price},</if>
			<if test="freight_price!=null">freight_price = #{freight_price},</if>
			<if test="payment_type!=null">payment_type = #{payment_type},</if>
			<if test="quantity!=null">quantity = #{quantity},</if>
			<if test="detail!=null">detail = #{detail},</if>
			<if test="default_img!=null">default_img = #{default_img},</if>
			<if test="status!=null">status = #{status},</if>
			<if test="hot!=null">hot = #{hot}</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 保存商品 -->
	<insert id="insertProduct" parameterType="com.FangBianMian.domain.Product">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
    		select LAST_INSERT_ID()
    	</selectKey>
		INSERT INTO product
		<set>
			name = #{name},
			category_id = #{category_id},
			price = #{price},
			discount_price = #{discount_price},
			freight_price = #{freight_price},
			payment_type = #{payment_type},
			quantity = #{quantity},
			detail = #{detail},
			default_img = #{default_img},
			status = #{status},
			hot = #{hot},
			create_time = now()
		</set>
	</insert>
	
	<!-- 查询所有商品 -->
	<select id="queryProductsByParam" resultMap="productResultMap">
		SELECT 
			p.*, 
			(SELECT AVG(pc.score) FROM product_comment pc WHERE p.id = pc.pid ) AS score,
			(SELECT COUNT(1) FROM product_comment pc WHERE p.id = pc.pid ) AS common_num,
			(SELECT SUM(oi.quantity) FROM orders_item oi WHERE p.id = oi.pid) AS saled_num
		FROM product p 
		<where>
			p.invisible = 0
			<if test="param.name!=null">AND p.name LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND p.status = #{param.status}</if>
			<if test="param.category_id!=null">AND p.category_id = #{param.category_id}</if>
			<if test="param.hot!=null">AND p.hot = #{param.hot}</if>
		</where>
		<if test="param.page!=null">
			LIMIT #{param.page},#{param.rows}
		</if>
	</select>
	
	<!-- 查询所有商品的总数 -->
	<select id="queryProductsByParamTotal" resultType="int">
		SELECT COUNT(1) FROM product p 
		<where>
			p.invisible = 0
			<if test="param.name!=null">AND p.name LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND p.status = #{param.status}</if>
			<if test="param.category_id!=null">AND p.category_id = #{param.category_id}</if>
			<if test="param.hot!=null">AND p.hot = #{param.hot}</if>
		</where>
	</select>

	<!-- 通过商ID查询商品 -->
	<select id="queryProductById" resultMap="productResultMap">
		SELECT 
			p.*, 
			(SELECT AVG(pc.score) FROM product_comment pc WHERE p.id = pc.pid ) AS score,
			(SELECT COUNT(1) FROM product_comment pc WHERE p.id = pc.pid ) AS common_num,
			(SELECT SUM(oi.quantity) FROM orders_item oi WHERE p.id = oi.pid) AS saled_num
		FROM product p 
		WHERE p.id = #{id} AND p.invisible = 0
	</select>
	
	<!-- 通过商品ID查询商品图片 -->
	<select id="selectProductImgByPid" resultType="com.FangBianMian.domain.ProductImg">
		SELECT * FROM product_img WHERE pid = #{id}
	</select>

</mapper>