<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IProductDao">

	<!-- 商品映射 -->
	<resultMap type="com.FangBianMian.domain.Product" id="productResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="category_id" column="category_id"/>
		<result property="price" column="price"/>
		<result property="discount_price" column="discount_price"/>
		<result property="freight_price" column="freight_price"/>
		<result property="payment_type" column="payment_type"/>
		<result property="quantity" column="quantity"/>
		<result property="detail" column="detail"/>
		<result property="status" column="status"/>
		<result property="hot" column="hot"/>
		<result property="create_time" column="create_time"/>
		
		<result property="saled_num" column="saled_num"/>
		<result property="score" column="score"/>

		<collection property="imgs" column="id" javaType="List" ofType="com.FangBianMian.domain.ProductImg" select="selectProductImgByPid"></collection>
	</resultMap>
	
	<!-- 查询所有商品 -->
	<select id="queryProductsByParam" resultMap="productResultMap">
		SELECT 
			p.*, 
			(SELECT AVG(pc.score) FROM product_comment pc WHERE p.id = pc.pid ) AS score,
			(SELECT SUM(oi.quantity) FROM orders_item oi WHERE p.id = oi.pid) AS saled_num
		FROM product p 
		<where>
			p.invisible = 0
			<if test="param.name!=null">AND p.name LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND p.status = #{param.status}</if>
			<if test="param.category_id!=null">AND p.category_id = #{param.category_id}</if>
		</where>
		LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<!-- 查询所有商品的总数 -->
	<select id="queryProductsByParamTotal" resultType="int">
		SELECT COUNT(1) FROM product p 
		<where>
			p.invisible = 0
			<if test="param.name!=null">AND p.name LIKE '%${param.name}%'</if>
			<if test="param.status!=null">AND p.status = #{param.status}</if>
			<if test="param.category_id!=null">AND p.category_id = #{param.category_id}</if>
		</where>
	</select>

	<!-- 通过商ID查询商品 -->
	<select id="queryProductById" resultMap="productResultMap">
		SELECT 
			p.*, 
			(SELECT AVG(pc.score) FROM product_comment pc WHERE p.id = pc.pid ) AS score,
			(SELECT SUM(oi.quantity) FROM orders_item oi WHERE p.id = oi.pid) AS saled_num
		FROM product p 
		WHERE p.id = 1 AND p.invisible = 0
	</select>
	
	<!-- 通过商品ID查询商品图片 -->
	<select id="selectProductImgByPid" resultType="com.FangBianMian.domain.ProductImg">
		SELECT * FROM product_img WHERE pid = #{id}
	</select>

</mapper>