<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IUserDao">

	<!-- 角色映射 -->
	<resultMap type="com.FangBianMian.domain.SecurityUser" id="roleMap">
		<id property="id" column="id"/>
		<collection property="roles" column="id" javaType="List" ofType="com.FangBianMian.domain.SysRoles" select="selectRoleByUid"></collection>
	</resultMap>
	
	<!-- 权限(菜单)映射 -->
	<resultMap type="com.FangBianMian.domain.SysRoles" id="menuMap">
		<id property="id" column="id"/>
		<collection property="menus" column="id" javaType="List" ofType="com.FangBianMian.domain.SysMenus" select="selectMenuByRid"></collection>
	</resultMap>
	
	<!-- 子权限(子菜单)映射 -->
	<resultMap type="com.FangBianMian.domain.SysMenus" id="subMenuMap">
		<id property="id" column="id"/>
		<collection property="subMenus" column="id" javaType="List" ofType="com.FangBianMian.domain.SysMenus" select="selectMenuByPid"></collection>
	</resultMap>
	
	<!-- =================================================================================== -->
	
	<!-- 通过角色ID查询对应权限(菜单) -->
	<select id="selectMenuByPid" resultMap="subMenuMap">
		SELECT * FROM sys_menus WHERE parent_id = #{id}
	</select> 
	
	<!-- 通过角色ID查询对应权限(菜单) -->
	<select id="selectMenuByRid" resultMap="subMenuMap">
		SELECT sm.* FROM sys_roles_menus srm
		LEFT JOIN sys_menus sm ON sm.id = srm.menu_id
		WHERE srm.role_id = #{id} AND sm.parent_id = 0
	</select> 
	
	<!-- 通过用户ID查询对应角色 -->
	<select id="selectRoleByUid" resultMap="menuMap">
		SELECT sr.* FROM sys_roles_users sru
		LEFT JOIN sys_roles sr ON sr.id = sru.role_id
		WHERE sru.user_id = #{id}
	</select>

	<!-- 通过用户名查找用户 -->
	<select id="selectUserByUsername" resultMap="roleMap">
		SELECT * FROM sys_users WHERE username = #{username}
	</select>
	
	<!-- 通过用户ID查找用户 -->
	<select id="selectUserByUid" resultMap="roleMap">
		SELECT * FROM sys_users WHERE id = #{id}
	</select>

	<!-- 通过用户ID查询用户 -->
	<select id="queryUserById" resultType="com.FangBianMian.domain.User">
		SELECT * FROM sys_users WHERE id = #{id}
	</select>
	
	<!-- 更新用户信息 -->
	<update id="updateUser" parameterType="com.FangBianMian.domain.User">
		UPDATE sys_users 
		<set>
			<if test="password!=null">password=#{password},</if>
			<if test="head!=null">head=#{head},</if>
			<if test="type!=null">type=#{type},</if>
			<if test="name!=null">name=#{name},</if>
			<if test="enabled!=null">enabled=#{enabled},</if>
			<if test="last_login_time!=null">last_login_time=#{last_login_time},</if>
			<if test="last_login_ip!=null">last_login_ip=#{last_login_ip}</if>
		</set>
		WHERE id = #{id}
	</update>

</mapper>