<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.FangBianMian.dao.IUserDao">

	<insert id="saveTestUpload" parameterType="com.FangBianMian.domain.TestUpload">
		INSERT INTO test_upload SET name=#{name},head=#{head}
	</insert>

	<select id="selectUserByUsername" resultType="com.FangBianMian.domain.SecurityUser">
		SELECT * FROM
		sys_users WHERE username = #{username}
	</select>

	<select id="getMenus" resultType="com.FangBianMian.utils.EasyUiTree">
		SELECT sm.id AS id, sm.name AS text, sm.parent_id AS parentId, sm.url AS attributes
		FROM sys_roles_users sru
		LEFT JOIN sys_roles_menus srm ON sru.role_id = srm.role_id
		LEFT JOIN sys_menus sm ON sm.id = srm.menu_id
		WHERE sru.user_id = #{param.uid} <!-- AND sm.parent_id = #{param.pid} -->
		ORDER BY sm.weight
	</select>

</mapper>