@charset "utf-8";
/* CSS Common */
.banner{width:1000px;margin:5px auto 0 auto;overflow:hidden;}
.defaultMain{width:998px;margin:5px auto 0 auto;overflow:hidden;clear:both;position:relative;z-index:999;}
/* ---------------------defaultMainLeft--------------------------- */
.defaultMain .defaultMainLeft{float:left;width:180px;overflow:hidden;}
 /*--后台菜单--*/
.bor4-brown { border:4px solid #FCFAFA; padding:3px 4px 0 4px; }
.bor2-brown { border:2px solid #FCFAFA; text-align:left;}
.col_mem_a .bor2-brown { border-top:none; padding-top:2px; }
.memnav li span { display:block; padding-left:30px; cursor:pointer; height:30px; line-height:30px; background-image:url(../img/my_icon_list.gif); background-repeat:no-repeat; }
#mem-n-1 a span { background-position:8px -132px; }
#mem-n-2 a span { background-position:8px -172px; }
#mem-n-3 a span { background-position:8px -212px; }
#mem-n-4 a span { background-position:8px -252px; }
#mem-n-5 a span { background-position:8px -292px; }
#mem-n-6 a span { background-position:8px -334px; }
#mem-n-7 a span { background-position:8px -372px; }
#mem-n-8 a span { background-position:8px -412px; }
#mem-n-9 a span { background-position:8px -452px; }
#mem-n-10 a span { background-position:8px -495px; }
#mem-n-11 a span { background-position:8px -531px; }
#mem-n-12 a span { background-position:8px -573px; }
#mem-n-13 a span { background-position:8px -613px; }
#mem-n-14 a span { background-position:8px -645px; }
#mem-n-15 a span { background-position:8px -672px; }
.iconew2{margin-top:-278px; margin-left:95px;width:26px;height:13px;background:url(../img/new-orange_.gif) no-repeat 0 0; text-indent:-9em; overflow:hidden;}
a.a3:link { color:#804825; }
a.a3:visited { color:#804825; }
a.a3:hover { color:#804825; }
.col_mem_a { float:left; width:180px;}
.memnav {/*background:url(../../i/member/navbg.jpg) repeat-y 50% 0; */ border:1px solid #E9E9E9; border-top:none;}
.memnav li { font-size:14px; margin:0px 0 2px 0; position:relative; }
.memnav li a { text-decoration:none; height:30px; line-height:30px; display:block; padding:0px 4px;}
.memnav li a:hover, .memnav li.cur a { text-decoration:none; background:url(../img/my_icon_list.gif) no-repeat 0 -60px; }
.memnav .mennavsub { background:#fff; }
.memnav .mennavsub li a { padding-left:45px; background:url(../img/ico-dot.gif) no-repeat 30px -52px; }
.memnav .mennavsub li a:hover, .memnav .mennavsub li.cur a { background:url(../img/my_icon_list.gif) no-repeat 0 -100px; }
.memnav li.cur a span, .mennavsub li.cur a { cursor:default; }
.memnav-title a { text-indent:4em; display:block; background:url(../img/my_icon_list.gif) no-repeat 0 0; width:100%; height:37px;line-height:37px;color:#930; font-size:14px; font-weight:900; overflow:hidden; }


/*-----------------------------------defaultMainRight----------------------------------*/
.defaultMain .defaultMainRight{float:right;width:808px;overflow:hidden;}
/*--后台右边栏目--*/
.memnote1 { border:1px solid #ccc; background:#F6F6F6; line-height:200%; }
.memnote2 { background:#FFF; line-height:200%; }
.memnote2 .con, .memnote1 .con { padding:10px 15px; }
.memnote1 .con2 { padding:5px 15px; }
.bdot { border-bottom:1px dashed #ccc; }

/**grade **/
.grade{padding:10px;border:1px solid #FAE9A7; background:#FEFAE9; overflow:hidden;}
.grade ul li{ overflow:hidden; float:left; line-height:22px;}
.grade ul li.g1{ margin-right:30px;}
.grade ul li.g2 a{color:#333;}
.grade ul li.g3 a{margin-left:25px;}
.grade ul li.g3 a.ask1{ padding-left:20px; background:url(../img/ico-m1.png) no-repeat 0 1px;}

.infobox { margin-bottom:10px; width:100%; border:1px solid #E0CEC2; border-top:1px solid #E0CEC2;}
.infobox td, .infobox th { border-bottom:1px solid #EEDFD0; padding:4px 5px 4px 14px; }
.infobox caption { border:1px solid #E0CEC2; font-size:14px; font-weight:600; line-height:28px; background:#F3ECE6 url(../img/caption_bg.gif) repeat-x center center; margin-left:0px; text-indent:20px;}
.infobox caption a { font-size:12px;}
.infobox caption.t0 { padding-top:0; }
.infobox td { border-bottom:1px solid #EEDFD0; border-left:1px solid #EEDFD0; line-height:20px; color:#333; }
.infobox th { background:#f9f4f1; color:#666; }
.infobox input, .infobox select { color:#666; vertical-align:middle; }
.infobox .input1 { border:1px solid #ccc; height:20px; line-height:20px; }
.infobox .th1 { width:75px; }
.infobox .th2 { width:120px; }
.infobox .th3 { width:240px; }
.infobox .th4 { width:180px; }
.infobox .th5 { width:150px; }
.infobox .w1 { width:40px; }
.infobox .w2 { width:300px; }
.infobox .w3 { width:10px; }
.infobox.order td.tl { text-align:left; }
.infobox.order .th1 { width:120px; }
.a.blue { color:#2962F9; text-decoration:underline; }
.infobox.order .w4 { width:72px; }
.infobox .voucher { margin:10px 0; }
.infobox .voucher label { float:left; text-align:right; width:220px; line-height:20px; }
.infobox .voucher input { float:left; }
.btnsub { float:left; padding:0 14px; border:1px solid #F8A95A; height:23px; background:url(../img/btn-sumbit.gif) repeat-x; line-height:23px; }
.align { padding-left:100px; }
.align2 { padding-left:170px; }
.infobox.order th, .infobox.order td { text-align:center; }



/*--评论栏目--*/
.caidan{float:left;width:740px;}
.caidan .tobu{background:url(../img/Ck-f-027.gif);height:43px;line-height:43px; margin-top:15px;}
.caidan .tobu li{float:left;text-indent:10px;}
.caidan .tobu li.aa{ font-size:16px;font-weight: bold; width:80px;float:left;text-indent:10px;}
.caidan .tobu li.bb{width:170px;float:left;text-indent:10px;}
.caidan .tobu li.cc{width:200px;float:left;text-indent:10px;}
.caidan .tobu li.dd{width:200px;float:left;text-indent:10px; color:#999;}
.caidan .tobu li.ee{width:90px;float:left;text-indent:20px;background:url(../img/Ck-f-028.gif);}
.caidan .tobu li.ff{width:100px;float:left;text-indent:10px;}
.caidan .tobu li.gg{width:470px;float:left;text-indent:10px;}
.caidan .tobu1{border:1px solid #D7D7D7; color:#666;float:center;margin:10px 10px;padding:10px 10px; text-align:left; text-indent:20px;}
.caidan .tobu1 .user_q{ width:100%;height:30px;line-height:30px; color:#EB880C;}
.caidan .tobu1 .user_q span{display:block;width:150px;height:30px;line-height:30px;float:right; color:#666;}
.caidan .tobu1 .user_pl{width:100%;line-height:30px;background-color: #F6F6F6;}
.caidan .tobu1 .user_hf{width:100%;line-height:30px;background-color: #EBEBEB;}
.caidan .tobu1 .user_hf span{display:block;line-height:30px;float:left; font-size:12px; font-weight:bold; color:#ff0000;}


.SmainBox{width:806px;border:1px solid #dde0e6;padding-bottom:15px; float:right;color:#666666}
.SmainContent{width:96%; overflow:hidden;margin:0 auto;}
.SmainContent h2{padding:14px 0 6px 0;*padding:15px 0 5px 0;border-bottom:1px solid #dcdfe5;color:#666;}
.Smsg-list{border-bottom:1px solid #dcdfe5;padding:7px 0 8px 0;*padding:8px 0 7px 0;margin-bottom:15px;}
.Smsg-list li{line-height:20px;margin-top:7px;*margin-top:5px;text-indent:10px; overflow:hidden;}
.Smsg-list p{color:#000;}
.Smsg-list p.bank{width:96%; margin:15px auto; padding-bottom:15px; background:#F9F9F9; overflow:hidden; display:block; border:#ccc 1px dashed;}
.Smsg-list p.bank b{display:block; line-height:30px;}
.Smsg-list p.bank img{width:150px; height:107px; margin:7px; float:left;}
.SlinkColor a:link,.SlinkColor a:visited,.SlinkColor a:hover{color:#a10000; text-decoration:none;}
.Sgoods-state li{ float:left;display:inline;}
li.Sstate-area{margin:6px 0 18px 0;*margin:-8px 0 17px 0;}
.SoneState01,.StwoState01,.SthreeState01,.SfourState01,.SoneState02,.StwoState02,.SthreeState02,.SfourState02,.SoneState03,.StwoState03,.SthreeState03,.SfourState03,.SNOfourState03{padding-top:58px;}
.SoneState01 li,.StwoState01 li,.SthreeState01 li,.SfourState01 li,.SoneState02 li,.StwoState02 li,.SthreeState02 li,.SfourState02 li,.SoneState03 li,.StwoState03 li,.SthreeState03 li,.SfourState03 li,.SNOfourState03 li{width:155px; clear:both;text-indent:10px;margin:0;margin-top:2px;color:#999;}
.SoneState02 li span,.StwoState02 li span,.SthreeState02 li span,.SfourState02 li span,.SoneState03 li span,.StwoState03 li span,.SthreeState03 li span,.SfourState03 li span,.SNOfourState03 li span{color:#000;}
.Sgoods-list{margin-top:30px;border:1px solid #dcdfe5;}
.Sgoods-list-content{width:684px;margin:0 auto;}
.Sgoods-list-content h3{padding:19px 0 8px 0; *padding:20px 0 7px 0;color:#666;}
.Sthead{background:#7a7f89;height:22px;line-height:22px;color:#fff;}
.Sthead li,.Stbody li{ float:left;display:inline;text-align:center;}
.Sgoods-number,.Sgoods-numberC{width:80px;}
.Sgoods-name,.Sgoods-nameC{width:272px;}
li.Sgoods-nameC{text-align:center;}
.Sgoods-dw,.Sgoods-dwC{width:85px;}
.Sgoods-size,.Sgoods-sizeC{width:80px;}
.Sgoods-more,.Sgoods-money,.Sgoods-moreC,.Sgoods-moneyC{width:80px;}
.Stbody{border-bottom:1px solid #ccc; padding:8px 0}
.Stbody2{height:5px;line-height:5px;border-bottom:1px solid #ccc;}
.Scount-money{padding-top:7px;}
.Scount-money li{text-align:right;margin-top:7px;*margin-top:5px;}
.SmoneyEnd{color:#a10000;margin-bottom:20px;}
.SborderNone{border-bottom:none;}
.Scolor{color:#999;}
.f12{font-size:12px;}     .f12b{font-size:12px;font-weight:bold;}
.f14{font-size:14px;}     .f14b{font-size:14px;font-weight:bold;}
.f16{font-size:16px;}     .f16b{font-size:16px;font-weight:bold;}
.f18{font-size:18px;}     .f18b{font-size:18px;font-weight:bold;}
.fL{float:left;display:inline;}  .fR{float:right;display:inline;}
.cL{clear:left;}         .cR{clear:right;}
.dN{display:none;}		 .dB{display:block;}    .dI{display:inline;}
.aC{text-align:center;}  .aL{text-align:left;}  .aR{text-align:right;}
.cB{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;line-height:0;}
.fwB{font-weight:bold;}
.fontTahoma{font-family:Tahoma;}

/*main*/
#main{width:779px;background:url(../img/bg_accountmain.png) repeat-y center;margin-right:0; 
}
#mdfpwd .input,#address .addadr .input{
	border:1px solid #7e9db9;
	padding:3px;
	width:160px;
}
.mngbox{
	background:url(../img/bg_accountmain.png) no-repeat;
}
.mngbox .main{
	background:url(../img/bg_accountmain.png) no-repeat right bottom;
	padding:24px 20px;
}
.mngbox h3{
	background:url(../img/bg_accountcol.png) repeat-x bottom;
	height:24px;
	margin:0 0 15px;
}
.mngbox h3 span{
	float:left;
	font:700 14px/22px "宋体";
	padding:0 6px;
	border-bottom:2px solid #92002d;
}
.mngbox .cc td img{ padding-left:3px;}
.mngbox .bd td img{ padding-right:6px;}
.mngbox .main ul li.aa{ float:left; width:160px;}
.mngbox .main ul li.bb{ float:left; width:300px;}
.mngbox .main ul li.cc{ float:left;background:url(../img/bg_btn2.png);width:104px; height:20px;line-height:20px;color:#fff; text-indent:30px;}

#right{width:782px; float:left; padding:25px 0px 0px 7px;color:#333333;}


#right img{padding:0px 0px 0px 0px;}


#right .span1{ cursor:pointer; padding-left:6px;background:url(../img/selected.jpg) no-repeat; width:140px; height:30px; float:left; text-align:center; line-height:180%; font-size:14;}
#right .span{ cursor:pointer;background:url(../img/select.jpg) no-repeat; width:145px; height:30px;float:left;text-align:center; line-height:180%; font-size:14;}

.colorStyHS{color:#999999;}
.dh{margin-left:11px;}
#right .span p{ margin-top:6px;}
#right .span1 p{ margin-top:6px;}

.styCCC{ background:url(../img/cencenCenter.gif) top left repeat-y; width:782px;}
.styCCC p{margin:0; }
.Yc{padding-left:4px;}
.plWZ{ padding:20px 9px 7px 9px; border-bottom:1px solid #a10000;}

.impCont{margin:0 9px;}

.impCont td{ padding:8px 0px;}
.apppraisetd{padding-bottom:10px important;*padding-bottom:0px;}
.fontsize{float:right;margin-top:-36px; font-size :12px;padding-right:12px; width:740;}

/* CSS Document */

#conten{ margin-left:auto; margin-right:auto; width:980px; font:100 12px "宋体"; color:#333333; margin-top:15px;*margin-top:0px;}
#right{width:782px; float:left;}


.colorStyHS{color:#999999;}
.dh{ float:left;margin-left:11px; display:inline}

.styCCC{ background:url(../img/cencenCenter.gif) top left repeat-y; width:782px; float:left;}
.styCCC p{margin:0;}

.plWZ{ padding:20px 9px 7px 9px; border-bottom:1px solid #a10000;}

.impCont{margin:0 9px;}
.wordSize{font-size:14px; padding-left:10px;}
.commentselected{float:left;width:145px; background-image:url(../img/selected.jpg);height:30px}
.commentselect{float:left;width:145px;background-image:url(../img/select.jpg);height:30px;}
.commentselected h2,.commentselect h2{margin:10px 0 0 20px; font:100 12px "宋体";}
.commentselected h2 a:link ,.commentselected h2 a:visited,.commentselected h2 a:active{ color:#999999;}
.commentselected h2 a:hover{ color:#660000;}


/*-----产品购物流程右边栏-----*/
.Area_products{ float:right; width:808px; overflow:hidden;}
.Table{ text-align:center; vertical-align:middle;}
.Table .p-img{ margin:5px auto;}
.Area_products .gofutop {width:808px; height:65px;overflow:hidden;}
.Area_products .gofutop ul{width:100%;margin:0px;padding:0px;}
.Area_products .gofutop ul .left{float:left; width:196px; height:65px;background-image:url(../img/Ck-f-033.gif);background-repeat:no-repeat;cursor:pointer;}
.Area_products .gofutop ul .right{float:right; width:456px; height:65px;background-image:url(../img/Ck-f-034.gif);background-repeat:no-repeat;cursor:pointer;}
.Area_products .juca {width:808px; height:30px;overflow:hidden; text-indent:500px;}
.Area_products .jiesu {width:808px;overflow:hidden;}
.Area_products .jiesu ul{width:100%; height:37px;margin:10px;padding:0px;}
.Area_products .jiesu ul .a1{float:left;width:69px; height:37px; line-height:37px; text-align:center;background-image:url(../img/Ck-f-035.gif); background-repeat:no-repeat; background-position:center;cursor:pointer;}
.Area_products .jiesu ul .a2{float:left;width:50px; height:37px; line-height:37px; text-align:center;background-image:url(../img/Ck-f-036.gif);background-repeat:no-repeat;background-position:center;cursor:pointer;}
.Area_products .jiesu ul .a3{float:left;width:115px; height:37px;line-height:37px; text-align:center;background-image:url(../img/Ck-f-037.gif);background-repeat:no-repeat;cursor:pointer;text-indent:30px;}
.Area_products .jiesu ul .a4{float:left;width:115px; height:37px;line-height:37px; text-align:center;background-image:url(../img/Ck-f-038.gif);background-repeat:no-repeat;cursor:pointer;text-indent:30px;}
.Area_products .jiesu ul .a7{float:left;width:100px;}
.Area_products .jiesu ul .a5{float:right;width:114px;}
.Area_products .jiesu ul .a6{float:right;width:114px; height:37px;}
.Area_products .dingdantop {width:808px; height:65px;overflow:hidden;}
.Area_products .dingdantop ul{width:100%;margin:0px;padding:0px;}
.Area_products .dingdantop ul .left{float:left; width:196px; height:65px;}
.Area_products .dingdantop ul .right{float:right; width:456px; height:65px;background-image:url(../img/Ck-f-041.gif);background-repeat:no-repeat;cursor:pointer;}
 
.Area_products .dingdan {width:808px;overflow:hidden;}
.Area_products .dingdan ul{width:100%;margin:0px;padding:0px;}
.Area_products .dingdan ul .xhy{width:100%; font-size:16px;color:#333; height:35px;line-height:35px;margin:10px;padding:0px; text-indent:20px; text-align:left; font-weight: bold; background-color:#E3E3E3}
 .Area_products .dingdan ul .xpjs{width:100%; font-size:12px;color:#333; height:30px;line-height:30px;margin:5px;padding:0px; text-indent:20px; text-align:left;}
.Area_products .dingdan ul .jx{width:100%; height:53px;margin:10px;padding:0px; text-align:center;}
.align_Center{ height:30px;}


/* 底部帮助文档 */
.help{width:998px;margin:10px auto 0 auto;overflow:hidden;clear:both;border:1px solid #e9e9e9;padding-bottom:10px;}
.help dl{width:19%;float:left;}
.help dl dt{line-height:70px;font-size:17px;font-family:'Microsoft Yahei';}
.help dl dd{padding-left:40px;line-height:22px;color:#ccc;}

.help .file-01 dt{background:url(../img/icon-028.gif) no-repeat 10px 10px;text-indent:85px;}

.help .file-02 dt{background:url(../img/icon-028.gif) no-repeat 10px -50px;text-indent:85px;}

.help .file-03 dt{background:url(../img/icon-028.gif) no-repeat 10px -120px;text-indent:85px;}

.help .file-04 dt{background:url(../img/icon-028.gif) no-repeat 10px -190px;text-indent:75px;}

.help .file-05 dt{background:url(../img/icon-028.gif) no-repeat 10px -250px;text-indent:75px;}































