@charset "utf-8";
/* CSS Common */
.banner{width:1000px;margin:5px auto 0 auto;overflow:hidden;}
.defaultMain{width:998px;margin:5px auto 0 auto;overflow:hidden;clear:both;position:relative;}
/* ---------------------defaultMainLeft--------------------------- */
.defaultMain .defaultMainLeft{float:left;width:230px;overflow:hidden;}
.defaultMain .defaultMainLeft .banner{width:230px;margin:5px auto 0 auto;}
.defaultMain .defaultMainLeft .dirtitle{background:url(../img/icon-024.gif) no-repeat; line-height:31px;font-size:14px;text-align:center;font-weight:bold;color:#fff;}
/* 主菜单弹出框 */
.defaultMain .defaultMainLeft .indexMenu{display:block; z-index:99;}
.defaultMain .defaultMainLeft .sn_Menu_content{background:url(../img/icon-021.gif) no-repeat;width:230px;text-indent:0;margin-bottom:10px;border-top:none;z-index:5;}
.defaultMain .defaultMainLeft .sn_Menu_content dd {height:28px;line-height:28px;}
.defaultMain .defaultMainLeft .sn_Menu_content dd a.icon,.sn_Menu_content dd a:visited.icon {display:block;width:210px;height:28px;color:#000;margin-left:7px;font-size:14px;text-indent:35px;}
.defaultMain .defaultMainLeft .sn_Menu_content dd a.on,.sn_Menu_content dd a:visited.on {height:28px;line-height:28px;border-right:none;text-indent:35px;font-weight:700;color:#00369c;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav01 dd a.on,.sn_Menu_content .sidenav01 dd a:visited.on {background-position:-207px -224px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav02 dd a.on,.sn_Menu_content .sidenav02 dd a:visited.on {background-position:-207px -260px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav03 dd a.on,.sn_Menu_content .sidenav03 dd a:visited.on {background-position:-207px -295px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav04 dd a.on,.sn_Menu_content .sidenav04 dd a:visited.on {background-position:-207px -330px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav05 dd a.on,.sn_Menu_content .sidenav05 dd a:visited.on {background-position:-207px -365px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav06 dd a.on,.sn_Menu_content .sidenav06 dd a:visited.on {background-position:-207px -400px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav07 dd a.on,.sn_Menu_content .sidenav07 dd a:visited.on {background-position:-207px -435px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav08 dd a.on,.sn_Menu_content .sidenav08 dd a:visited.on {background-position:-207px -470px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav09 dd a.on,.sn_Menu_content .sidenav09 dd a:visited.on {background-position:-207px -505px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav10 dd a.on,.sn_Menu_content .sidenav10 dd a:visited.on {background-position:-207px -540px;}
.defaultMain .defaultMainLeft .sn_Menu_content .sidenav11 dd a.on,.sn_Menu_content .sidenav11 dd a:visited.on {background-position:-207px -575px;}
.defaultMain .defaultMainLeft .sideleft {float:left;padding-top:6px;padding-left:20px;padding-bottom:20px;border-right:1px solid #d7e9ff; overflow:hidden;}
.defaultMain .defaultMainLeft .sideleft h3 {width:370px;height:24px;line-height:24px;font-size:12px;font-weight:700;color:#000;}
.defaultMain .defaultMainLeft .sideleft li {display:inline;float:left;width:370px;margin-right:5px;border-top:1px solid #dbeafd;}
.defaultMain .defaultMainLeft .sideleft li.noline {border-top:none;}
.defaultMain .defaultMainLeft .sideleft li b {float:left;width:78px;margin-top:11px;margin:0;}
.defaultMain .defaultMainLeft .sideleft li div {float:left;width:292px;margin-bottom:10px;}
.defaultMain .defaultMainLeft .sideleft li div a,.sideleft li div a:visited {float:left;margin:11px 10px 0 0;margin-top:10px;padding:0 0 0 10px;white-space:nowrap;border-left:1px solid #ccc;height:14px;line-height:14px;color:#000;}
.defaultMain .defaultMainLeft .sideleft li b a,.sideleft li b a:visited {font-weight:normal;color:#00369c;border:none;}
.defaultMain .defaultMainLeft .sideleft li div a:hover {color:#f60;text-decoration:underline;}
.defaultMain .defaultMainLeft .sideright { float:right;}
.defaultMain .defaultMainLeft .sideright h3 {height:28px;line-height:28px;padding-top:5px;padding-left:10px;font-size:12px;font-weight:700;color:#000;}
.defaultMain .defaultMainLeft .sideright li {display:inline;float:left;width:60px;line-height:26px;margin-left:14px;overflow:hidden;}
.defaultMain .defaultMainLeft .sideright li a,.sideright li a:visited {color:#666;}
.defaultMain .defaultMainLeft .sideright li a:hover {color:#f60;text-decoration:underline;}
.defaultMain .defaultMainLeft .siderighticon {position:absolute;right:20px;top:7px;width:15px;height:15px;text-indent:-9999px;overflow:hidden;}
.defaultMain .defaultMainLeft .siderighticon a,.siderighticon a:visited {display:block;width:15px;height:15px;background:url(images/main.gif) no-repeat -200px -40px;}
.defaultMain .defaultMainLeft .sidenavchild {background:#fff; display:none; overflow:hidden;}
.defaultMain .defaultMainLeft .sidenavlink01 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink01 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink01 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink02 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink02 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink02 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink03 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink03 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink03 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink04 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink04 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink04 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink05 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink05 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink05 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink06 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink06 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink06 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink07 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink07 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink07 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink08 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink08 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink08 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink09 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink09 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink09 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink10 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink10 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink10 .sideright {float:right;width:116px;}

.defaultMain .defaultMainLeft .sidenavlink11 {position:absolute;left:218px;top:0;width:510px;border:1px solid #be0000;z-index:999;}
.defaultMain .defaultMainLeft .sidenavlink11 .sideleft {float:left;width:372px;}
.defaultMain .defaultMainLeft .sidenavlink11 .sideright {float:right;width:116px;}

/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList01{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;}
.defaultMain .defaultMainLeft .theleftList01 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList01 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList01 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList01 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList01 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList01 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList01 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList01 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList01 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList01 li p span{color:#c00000;}
/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList02{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList02 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList02 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList02 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList02 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList02 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList02 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList02 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList02 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList02 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList02 li p span{color:#c00000;}
/* 家居小商品 */
.defaultMain .defaultMainLeft .theleftList03{background:url(../img/icon-013.gif) repeat-y;width:230px;overflow:hidden;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList03 dt{background:url(../img/icon-011.gif) no-repeat;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-indent:40px;color:#c40202;}
.defaultMain .defaultMainLeft .theleftList03 dd{padding:0 10px;}
.defaultMain .defaultMainLeft .theleftList03 dd.btbg{width:230px;height:7px;overflow:hidden;padding:0;margin-top:5px;}
.defaultMain .defaultMainLeft .theleftList03 dd.btbg img{width:230px;height:7px;display:block;}
.defaultMain .defaultMainLeft .theleftList03 li{border-bottom:1px solid #dddddd;overflow:hidden;clear:both;width:100%;padding:5px 0;margin-top:5px;color:#404040;}
.defaultMain .defaultMainLeft .theleftList03 li a{color:#404040;}
.defaultMain .defaultMainLeft .theleftList03 li a:hover{color:#f00;}
.defaultMain .defaultMainLeft .theleftList03 li img{float:left;}
.defaultMain .defaultMainLeft .theleftList03 li p{float:left;line-height:22px;padding-left:5px;}
.defaultMain .defaultMainLeft .theleftList03 li p span{color:#c00000;}

/*-----------------------------------defaultMainRight----------------------------------*/
.defaultMain .defaultMainRight{float:right;width:758px;overflow:hidden;}

/*-----------------------------------defaultMainRight----------------------------------*/
.defaultMain .defaultMainRight .the_one{wdith:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_one H1{wdith:100%;overflow:hidden; text-align:left; font-size:14px; height:20px; line-height:20px; margin-top:5px;margin-bottom:5px; text-indent:10px;}
.defaultMain .defaultMainRight .the_one H1 b{ display:block;width:220px; float:right; color:#999; font-size:12px;font-family:"宋体"; font-weight:normal;}
.defaultMain .defaultMainRight .the_one H1 b a{color:#2953a6; font-size:12px;margin-left:2px;margin-right:2px; font-family:"宋体"; font-weight:normal;}
.defaultMain .defaultMainRight .the_one .left_pic{ float:left;width:350px; overflow:hidden;}
.defaultMain .defaultMainRight .the_one .right_word{ float:right;width:390px; overflow:hidden;}
.defaultMain .defaultMainRight .the_one .right_word ul{overflow:hidden;}
.defaultMain .defaultMainRight .the_one .right_word ul li{ height:30px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li p{ display:block;width:50px; overflow:hidden; float:left; height:30px; line-height:30px; padding:0 5px; }
.defaultMain .defaultMainRight .the_one .right_word ul li.li1{ height:30px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li2{ height:30px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li2 b{color:#F00; font-size:16px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li3{ height:30px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li4{ height:30px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li5{ height:30px; line-height:30px; }
.defaultMain .defaultMainRight .the_one .right_word ul li.li6{ height:30px; line-height:30px; border-bottom:#CCC 1px solid;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li7{ height:70px; line-height:30px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li7 input{ border:1px solid #CCC;width:40px;margin-right:3px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li7 b{color:#666; font-weight:100;margin-left:5px;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li8{ height:38px; line-height:38px; text-align:center;}
.defaultMain .defaultMainRight .the_one .right_word ul li.li9{ line-height:30px; height:30px;}

.defaultMain .defaultMainRight .the_two{wdith:100%; overflow:hidden;margin-top:10px;} 
.defaultMain .defaultMainRight .the_two{wdith:100%; overflow:hidden;} 
.defaultMain .defaultMainRight .the_two .tmenu ul{margin:0;padding:0;width:100%;overflow:hidden; border-bottom:#be0000 2px solid;}
.defaultMain .defaultMainRight .the_two .tmenu li{float:left;height:27px;line-height:27px; text-align:center;width:84px;color:#cc3300;font-size:14px;background:url(../img/icon-036.gif) center center no-repeat; margin-right:2px; font-weight:900; cursor:pointer;}
.defaultMain .defaultMainRight .the_two .tmenu li.on{ color:#FFf;background:url(../img/icon-035.gif) center center no-repeat;}
.defaultMain .defaultMainRight .the_two .tbox{ line-height:20px;}
.block{display:block;}   
.none{display:none;}

.defaultMain .defaultMainRight .the_two .tbox th{ border-bottom:#ccc 1px dashed;}
.defaultMain .defaultMainRight .the_two .tbox td{ border-bottom:#ccc 1px dashed; line-height:30px;}
/* 信息 */
.defaultMain .defaultMainRight .the_two .caption{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .caption dl{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .caption dl dt{ border:#ffcc7f 1px solid; background:#ffffe5 url(../img/icon-037.gif) 10px center no-repeat; line-height:30px; height:30px; text-indent:30px; margin-top:10px;}
.defaultMain .defaultMainRight .the_two .caption dl dd{ border:#e1e1e1 1px solid; line-height:25px; margin-top:5px; padding:5px;margin-bottom:10px; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .caption dl dd img{ float:left;}

/*  商品属性 */
.defaultMain .defaultMainRight .the_two .Properties{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .Properties dl{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .Properties dl dt{ font-size:16px; color:#666; border-bottom:#CCC 2px solid; line-height:30px;padding-bottom:5px; font-weight:bold;}
.defaultMain .defaultMainRight .the_two .Properties dl dd{padding:10px; line-height:30px;}


/* 浏览过本商品的用户还浏览了 */
.defaultMain .defaultMainRight .the_two .other_product{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl{width:100%; overflow:hidden;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dt{ background: url(../img/icon-038.gif) 10px center repeat-x;line-height:30px; height:30px; text-indent:10px; margin-top:10px;color:#be0000; font-weight:bold;font-size:14px;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd{  }
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li{float:left;width:165px;line-height:16px;margin-top:15px;margin-left:18px;display:inline;color:#de0615;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li span{color:#aaaaaa;padding-left:10px;text-decoration:line-through;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li p{margin-top:5px;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li a{color:#23408a;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li a:hover{color:#da1a19;text-decoration:underline;}
.defaultMain .defaultMainRight .the_two .other_prodtct dl dd li img{border:1px solid #e0e0e0;padding:2px;}


/* 底部帮助文档 */
.help{width:998px;margin:10px auto 0 auto;overflow:hidden;clear:both;border:1px solid #e9e9e9;padding-bottom:10px;}
.help dl{width:19%;float:left;}
.help dl dt{line-height:70px;font-size:17px;font-family:'Microsoft Yahei';}
.help dl dd{padding-left:40px;line-height:22px;color:#ccc;}

.help .file-01 dt{background:url(../img/icon-028.gif) no-repeat 10px 10px;text-indent:85px;}

.help .file-02 dt{background:url(../img/icon-028.gif) no-repeat 10px -50px;text-indent:85px;}

.help .file-03 dt{background:url(../img/icon-028.gif) no-repeat 10px -120px;text-indent:85px;}

.help .file-04 dt{background:url(../img/icon-028.gif) no-repeat 10px -190px;text-indent:75px;}

.help .file-05 dt{background:url(../img/icon-028.gif) no-repeat 10px -250px;text-indent:75px;}





















