
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470128218'); /* IE9*/
  src: url('iconfont.eot?t=1470128218#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470128218') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470128218') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470128218#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialajiantou:before { content: "\e62a"; }
.icon-xinfeng:before { content: "\e64d"; }
.icon-gerenzhongxin:before { content: "\e7ec"; }
.icon-caidan:before { content: "\e6d2"; }
.icon-lingdang:before { content: "\e60c"; }
