<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"  
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	 	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd -->


	<context:property-placeholder location="classpath:db.properties" />
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.FangBianMian.dao" />
	</bean>
	
	<!-- define datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1" />
		<property name="validationQueryTimeout" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/mybatis/MybatisConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<context:component-scan base-package="com.FangBianMian">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<tx:attributes>
			<tx:method name="del*" propagation="REQUIRED" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />
			<tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="insert*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="list*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="query*" propagation="SUPPORTS" read-only="true"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:advisor pointcut="execution(* com.BlueCollar..*Service.*(..))" advice-ref="txAdvice" />
	</aop:config>
	
	<bean id="reminderProcessor" class="com.FangBianMian.timer.AutoTimer"></bean>  
  

    <task:executor id="executor" pool-size="3" />  
    <task:scheduler id="scheduler" pool-size="3" />  
  
    <task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true" />  
  
    <task:scheduled-tasks scheduler="scheduler">  
        <task:scheduled ref="reminderProcessor" method="run" cron="0 0 23 * * ?" />
    </task:scheduled-tasks>
    
	<!--  说明：
	         1）Cron表达式的格式：秒 分 时 日 月 周 年(可选)。
		               字段名                 允许的值                        		           允许的特殊字符  
		               秒                         0-59                     , - * /  
		               分                         0-59                     , - * /  
		               小时                     0-23                     , - * /  
		               日                         1-31                     , - * ? / L W C  
		               月                         1-12 or JAN-DEC          , - * /  
		               周几                     1-7 or SUN-SAT           , - * ? / L C #  
		               年 (可选字段)     empty, 1970-2099     , - * /
		
             “?”字符：表示不确定的值
             “,”字符：指定数个值
             “-”字符：指定一个值的范围
             “/”字符：指定一个值的增加幅度。n/m表示从n开始，每次增加m
             “L”字符：用在日表示一个月中的最后一天，用在周表示该月最后一个星期X
             “W”字符：指定离给定日期最近的工作日(周一到周五)
             “#”字符：表示该月第几个周X。6#3表示该月第3个周五
		
	         2）Cron表达式范例：
		                 每隔5秒执行一次：*/5 * * * * ?
		                 每隔1分钟执行一次：0 */1 * * * ?
		                 每天23点执行一次：0 0 23 * * ?
		                 每天凌晨1点执行一次：0 0 1 * * ?
		                 每月1号凌晨1点执行一次：0 0 1 1 * ?
		                 每月最后一天23点执行一次：0 0 23 L * ?
		                 每周星期天凌晨1点实行一次：0 0 1 ? * L
		                 在26分、29分、33分执行一次：0 26,29,33 * * * ?
		                 每天的0点、13点、18点、21点都执行一次：0 0 0,13,18,21 * * ? -->
</beans>
