<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragment/import :: header"></head>
	<body>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				$(function(){

				});
			/*]]>*/
		</script>
		
		
		<div style="background: url(assets/imgs/leftLogo.gif) repeat-x; height: 75px"></div>
		<!-- 导航菜单 -->
		<div class="easyui-accordion" data-options="fit:true">
	        <div th:each="m:${menus}" th:title="${m.name}" data-options="border:false">
	        	<div th:each="sub:${m.subMenus}" th:text="${sub.name}"></div>
	        </div>
	    </div>
	</body>
</html>
