<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragment/import :: header"></head>
	
	<body>
		<div>
			<div style="float:left;line-height:55px;margin-left: 20px;color:#17A9FF;font-size:16px">
				后台管理系统	
			</div>
			
			<div style="float:right;line-height:55px;margin-right: 20px">
				<img alt="头像" th:src="${application.baseImageUrl + user.head}" style="vertical-align:middle;width:30px;height:30px;margin-right: 10px"/>
				<span th:text="${user.name}"></span>
				<a style="margin-left: 20px" th:href="@{/logout}">退 出</a>
			</div>
		</div>
	</body>
</html>
