<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragment/import :: header"></head>
	
	<body>
		<div class="content">
			<div class="notice">
				后台管理系统	
			</div>
			
			<div class="user_info">
				<div class="info">
					<img alt="头像" th:src="${application.baseImageUrl + user.head}" style="width:30px;height:30px;margin-right: 10px"/>
					<span th:text="${user.name}"></span>
					<a style="margin-left: 20px" th:href="@{/logout}">退 出</a>
				</div>
			</div>
		</div>
	</body>
</html>
