<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>
	
	<!-- easyui -->  
  	<script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/custom/common.js}"></script> 
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/material/easyui.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/color.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css}" />
	
	<style type="text/css">
		.box-table2 table tr th {text-align: center;}
		.wrap-box .box-table td input{border:none}
	</style>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	    var msg = [[${msg}]];
		console.info(msg);
	    if(msg!=null){
	    	alert(msg);
	    }
	           
		$(function(){
			//一级分类
		    $("#province").combobox({
				url:[[@{/province}]],
				method:"get",
				valueField:'id',
			    textField:'name',
			    onSelect: function(rec){
			    	var url = [[@{/city}]] + "?pid=" + rec.id;
		    		$("#city").combobox("reload",url);
		   		}
		    });
		    
		 	//二级分类
			$("#city").combobox({
				valueField:'id',
			    textField:'name',
			    method:"get",
			    onSelect: function(rec){
			    	var url = [[@{/position}]] + "?cid=" + rec.id;
		        	$("#position").combobox("reload",url);
		        },
		        onLoadSuccess: function(){
		        	var data = $(this).combobox("getData");
					if(data.length > 0){
						$(this).combobox("select",data[0].id);
					}
		        }
			});

		 	//三级分类
			$("#position").combobox({
				valueField:'id',
			    textField:'name',
			    method:"get",
		        onLoadSuccess: function(){
		        	var data = $(this).combobox("getData");
					if(data.length > 0){
						$(this).combobox("select",data[0].id);
					}
		        }
			});  
		 	
		 	//保存订单
		 	$("#save").click(function(){
		 		var form = $("#orderForm");
		 		if(form.form("validate")){
		 			form.submit();
		 		}
		 	});
		});
	/*]]>*/
	</script>

	<body class="carBody">
		<section class="orderWrap">
			<div class="wrap-box">
				<div class="box-title">选择收货地址</div>
				<div class="box-table">
					<form id="orderForm" method="post" th:action="@{/web/order/save}">
						<input type="hidden" name="pid" th:value="${p.id}"/>
						<input type="hidden" name="number" th:value="${number}"/>
						<table>
							<tr>
								<th>省/市/区(县)：<span class="red">*</span></th>
								<td>
									<input id="province" class="easyui-combobox" name="province" style="width:100px;" data-options="editable:false,required:true,validateOnCreate:false,prompt:'选择省份'"/>
									<input id="city" class="easyui-combobox" name="city" style="width:100px;" data-options="editable:false,required:true,validateOnCreate:false,prompt:'选择城市'"/>
									<input id="position" class="easyui-combobox" name="position" style="width:100px;" data-options="editable:false,required:true,validateOnCreate:false,prompt:'选择区县'"/>
								</td>
							</tr>
							<tr class="adress">
								<th>街道地址：<span class="red">*</span></th>
								<td>
									 <input name="address" class="easyui-textbox" multiline="true" data-options="required:true,validateOnCreate:false" style="width:100%;height:50px" />
								</td>
							</tr>
							<tr>
								<th>收货人姓名：<span class="red">*</span></th>
								<td>
									<input name="receiver" type="text" class="easyui-textbox" data-options="required:true,validateOnCreate:false" style="width:100%;"/>
								</td>
							</tr>
							<tr>
								<th>手机：<span class="red">*</span></th>
								<td>
									<input name="phone" type="text" class="easyui-textbox" data-options="required:true,validateOnCreate:false,validType:['isTP']" style="width:100%;"/>
								</td>
							</tr>
							<tr>
								<th>备注：</th>
								<td>
									<input name="message" type="text" class="easyui-textbox" style="width:100%;"/>	
								</td>
							</tr>
						</table>
					</form>
				</div>

				<div class="box-title">确认商品信息</div>
				<div class="box-table2 list-table">
					<table class="table-order">
						<tr>
							<th>商品</th>
							<th>数量</th>
							<th>运费（元）</th>
							<th>单价（元）</th>
							<th>小计（元）</th>
						</tr>
						<tr>
							<td width="40%">
								<img class="pic-box" style="margin-left: 15px;" alt="展示图" th:src="${application.baseImageUrl + p.default_img}" />
								<p class="pic-title" th:text="${p.name}">跳转技术交底单是第几滴水</p>
							</td>
							<td width="20%" th:text="${number}">1</td>
							<td width="20%" class="td-price" th:text="${p.freight_price}">256.00</td>
							<td width="20%" class="td-price" th:text="${p.price}">256.00</td>
							<td width="20%" th:text="${p.price * number + p.freight_price}">2993.00</td>
						</tr>
						<tr class="all-price">
							<td colspan="6"><span>合计</span><span class="price" th:text="${p.price * number + p.freight_price}">299.00</span></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="box-table1 table-check">
				<table>
					<tr>
						<td>
							<!--<div class="back">
								<img src="" alt="返回" />
								<a href="">返回购物车</a>
							</div>-->
						</td>
						<td colspan="4" class="tr-pay">
							<div class="pay-div">
								<span th:text="${'共有' + number + '件商品，总计：'}">共有1件商品，总计：</span><span class="price" th:text="${p.price * number + p.freight_price}">￥512.00</span>
								<a class="go-pay go-sure" href="javascript:" id="save">确认并付款></a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</section>
		
		<iframe MARGINWIDTH='0' MARGINHEIGHT='0' HSPACE='0' VSPACE='0' FRAMEBORDER='0' SCROLLING='no' th:src="@{/web/index/bottom}" width="100%" height="270px"></iframe>
	</body>

</html>