<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<body class="listbody sec-pages">
	
		<link rel="stylesheet" th:href="@{/web/assets/css/style.css}" />
		<link rel="stylesheet" th:href="@{/web/assets/css/swiper.min.css}" />
		
		<section>
			<div class="headerBox">
				<ul>
					<li style="text-align: right;">
						<a target="_parent" href="login.html">登录</a>
						<a target="bottomFrame" href="order.html">个人中心</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="search">
			<div class="searchBox">
				<a href="">
					<img th:src="@{/web/assets/img/logo.png}" />
				</a>
				<div class="seachBody">
					<div class="search-tab"> <span class="active">宝贝</span></div>
					<div class="search-box"> 
						<input type="text" class="search-txt" placeholder="金秋最火单品你还没get" data-placeholder="金秋最火单品你还没get" data-key="风衣" /> 
						<span class="search-btn">搜索</span>
						<div class="suggest-box" style="display: none;"></div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</section>
		<section class="menu">
			<div class="menuBox">
				<ul class="firUl">
					<li>
						<a target="centerFrame" th:href="@{/web/index/center}" class="active">首页</a>
					</li>
					<li th:each="pc:${pcs}">
						<a target="centerFrame" th:href="@{/web/index/center(category_id=${pc.id})}" th:text="${pc.name}">服饰</a>
					</li>
				</ul>
			</div>
		</section>
		<script type="text/javascript" th:src="@{/web/assets/js/jquery-1.10.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/web/assets/js/swiper.min.js}"></script>
	</body>

</html>