<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>
	
	<style>
		.headerBox , .menuBox{width: 1200px;}
	</style>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		//刷新中间的frame页面
		function search(){
			var url = [[@{/web/index/center}]] + "?_=" + Math.random();
			var name = $("#name").val();

			if($.trim(name)!=''){
				url += "&name=" + name;
			}
			console.info(url);
			window.parent.frames["centerFrame"].location = url;
		}
	/*]]>*/
	</script>
	
	<body class="listbody sec-pages">
		<section class="header1">
			<div class="headerBox">
				<ul class="fll">
					<li>
						你好，欢迎访问和包村积分商城
					</li>
					<li th:if="${user==null}" class="spacer"></li>
					<li th:if="${user==null}">
						<a target="_parent" th:href="@{/web/index/login}">请<span style="font-weight: bold;color: #000000;">登录</span></a>
					</li>
				</ul>
				<ul class="flr" th:if="${user!=null}">
					<li>
						<a target="centerFrame" th:href="@{/web/order/index}">我的订单</a>
					</li>
					<li class="spacer"></li>
					<li class="my-account-li" style="width: 75px;">
						<a>我的帐户</a>
						<em class="arrow"></em>
						<p class="my-account" th:text="${user.balance + '积分'}">22积分</p>
					</li>
				</ul>
			</div>
		</section>
		<script type="text/javascript">
			$(function(){
				$('.my-account-li').hover(function(){
					$('.my-account').toggle();
				})
			})
		</script>
		<section class="search">
			<div class="searchBox">
				<a target="_parent" th:href="@{/web/index/main}">
					<img th:src="@{/web/assets/img/logo.png}" style="margin-top: 15px"/>
				</a>
				<div class="seachBody" style="margin-top: 30px">
					<div class="search-tab"> <span class="active">宝贝</span></div> 
					<div class="search-box"> 
						<input id="name" type="text" class="search-txt" placeholder="金秋最火单品你还没get" data-placeholder="金秋最火单品你还没get" data-key="风衣"/> 
						<span onclick="search()" class="search-btn">搜索</span>
						<div class="suggest-box" style="display: none;"></div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</section>
	</body>
</html>