<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>

	<body class="listbody sec-pages">
		<section class="container">
			<div class="product-list">
				<ul>
					<li th:each="p:${ps}">
						<div>
							<a class="img-link" th:href="@{/web/product/detail(id=${p.id})}" target="centerFrame">
								<img class="img-size" alt="展示图" th:src="${application.baseImageUrl + p.default_img}"/>
							</a>
							<div class="product-info">
								<div class="price fll"><em class="price-u">¥</em><span class="price-n" th:text="${p.price}">38.86</span></div>
							</div>
							<div class="clr"></div>
							<a  th:href="@{/web/product/detail(id=${p.id})}" class="text-link" th:text="${p.name}">【百草味】-草莓干3袋草莓干3袋草莓干3袋草莓干3袋草莓干3袋</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<iframe MARGINWIDTH='0' MARGINHEIGHT='0' HSPACE='0' VSPACE='0' FRAMEBORDER='0' SCROLLING='no' th:src="@{bottom}" width="100%" height="270px"></iframe>
		<!-- <script>
			$(function() {
				var mySwiper = new Swiper('.banner .swiper-container', {
					autoplay: 5000, //可选选项，自动滑动
					loop: true,
					pagination: '.pagination'
				});
			})
		</script> -->
	</body>

</html>