<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>

	<title>登录</title>
	
	<!-- easyui -->  
  	<script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/custom/common.js}"></script> 
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/material/easyui.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/color.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css}" />
  	
  	<!-- WebSocket -->
	<script type="text/javascript" th:src="@{/assets/plugins/websocket/sockjs-0.3.4.js}"></script>
 	<script type="text/javascript" th:src="@{/assets/plugins/websocket/stomp.js}"></script>
  	
  	<script type="text/javascript" th:inline="javascript">
  	/*<![CDATA[*/
  	    //项目根路径
	    var rootPath = [[@{/}]];
		//websocket请求前缀
		var wsPrefix = location.href.split(rootPath)[0] + rootPath;   
	    //websocket对象
		var websocket;
	    
	    //设置websocket前缀
	 	if (wsPrefix.slice(0, 5) === 'https') {
			wsPrefix = 'wss' + wsPrefix.slice(5);
	    } else {
	    	wsPrefix = 'ws' + wsPrefix.slice(4);
	    }
	
  	    //倒计时
  		var timer;
  	    var countdown=60; 
		function settime() {
			var obj = $("#vfcBtn");
			if (countdown <= 0) { 
				obj.linkbutton("enable");  
				$('#vfcBtn span:last').html("获取验证码");
				countdown = 60; 
				clearInterval(timer);
			} else { 
				countdown--; 
				$('#vfcBtn span:last').html(("重新发送(" + countdown + ")"));
			} 
		} 
  	           
  	    //发送验证码
  		function sendVerifyCode(){
  			var obj = $(this);
  			var phone = $("#phone");
  			if(phone.textbox("isValid")){
  				$.post([[@{/web/index/sendVerifyCode}]],{_:Math.random(),phone:phone.textbox("getValue")},function(data){
	  				if(data.flag){
	  					cAlert(data.msg);
	  				}
	  			});
	  			
	  			//倒计时
	  			obj.linkbutton("disable");
	  			$('#vfcBtn span:last').html(("重新发送(" + countdown + ")"));
	  			timer = setInterval(function() { 
					settime(); 
				},1000)
  			}
  		}
  	    
  		//登录
		function login(){
			var form = $("#loginForm");
			if(form.form('validate')){
				form.form('submit', {
				    success: function(data){
				        var data = eval('(' + data + ')');  // change the JSON string to javascript object
				        if (data.flag){
				        	//创建WebSocket对象
				    	    if ('WebSocket' in window) {
				    	        websocket = new WebSocket(wsPrefix + "veg");
				    	    } else if ('MozWebSocket' in window) {
				    	        websocket = new MozWebSocket("ws://veg");
				    	    } else {
				    	        websocket = new SockJS(wsPrefix + "com/veg");
				    	    }
				    	    websocket.onmessage = function (evnt) {
				    			alert(evnt.data);
				    	    }; 
				        	websocket.onopen = function (evnt) {
			  					alert("等待后台处理");
			  		        };
				        }else {
				        	alert("登录失败");
				        }
				    }
				});
			}
		}
  	/*]]>*/
  	</script>
  	
	<body class="loginBody">
		<section class="header">
			<div class="login-center">
			<div class="loginheader">
				<div class="logo fll">
					<a th:href="@{/web/index/main}">
						<img th:src="@{/web/assets/img/logo.png}" />
					</a>
				</div>
			</div>
			</div>
		</section>
		<section class="login">
			<div class="login-bg"></div>
			<div class="login-center">
			<div class="login-box">
				<div class="box-top">
					<span class="top-title fll">登录</span><span class="register-link flr"><a th:href="@{/web/index/main}">返回首页</a></span>
				</div>
				<div class="clr"></div>
				<div class="login-body">
					<form id="loginForm" method="post" th:action="@{/web/user/signin}">
						<div style="margin-bottom: 20px">
							<input id="phone" name="phone" th:value="${phone}" type="text" class="easyui-textbox" style="padding:10px" data-options="width:283,prompt:'请输入手机号',validType:['isPhone'],required:true,validateOnCreate:false"/>
						</div>
						<div style="margin-bottom: 20px">
							<input name="code" type="text" th:value="${code}" class="easyui-textbox" style="padding:10px" data-options="width:180,prompt:'请输入验证码',required:true,validateOnCreate:false"/>
							<a id="vfcBtn" href="#" class="easyui-linkbutton c1" data-options="onClick:sendVerifyCode" style="width:100px;height:28px;">获取验证码</a>
						</div>
						<div style="margin-bottom: 10px">
							<a href="#" class="easyui-linkbutton c1" data-options="onClick:login" style="width:283px;height:40px">登 录</a>
							<span style="color: red;" th:text="${msg}">sssss</span>
						</div>
					</form>
				</div>
			</div>
			</div>
		</section>
		<iframe MARGINWIDTH='0' MARGINHEIGHT='0' HSPACE='0' VSPACE='0' FRAMEBORDER='0' SCROLLING='no' th:src="@{/web/index/bottom}" width="100%" height="270px"></iframe>
	</body>
</html>
