<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>

	<title>登录</title>
	
	<!-- easyui -->  
  	<script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/custom/common.js}"></script> 
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/material/easyui.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/color.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css}" />
  	<link rel="icon" th:href="@{/assets/imgs/icon.png}" />
  	
  	<script type="text/javascript" th:inline="javascript">
  	/*<![CDATA[*/
  	    //判断是否发送验证码的标记
  	    var verifyFlag = false;
  		//项目根路径
	    var rootPath = [[@{/}]];
  		//获取登录状态的定时器对象
  		var login_timer;
	    
  	    //倒计时
  		var timer;
  	    var countdown=60; 
		function settime() {
			var obj = $("#vfcBtn");
			if (countdown <= 0) { 
				obj.linkbutton("enable");  
				$('#vfcBtn span:last').html("获取验证码");
				countdown = 60; 
				clearInterval(timer);
			} else { 
				countdown--; 
				$('#vfcBtn span:last').html(("重新发送(" + countdown + ")"));
			} 
		} 
  	           
  	    //发送验证码
  		function sendVerifyCode(){
  			var obj = $(this);
  			var phone = $("#phone");
  			if(phone.textbox("isValid")){
  				
  				//发送验证码
  				$.post([[@{/web/user/sendVerifyCode}]], {_:Math.random(),phone:phone.textbox("getValue")}, function(data){
  					if(!data.flag){
						alert("手机格式错误");
					}
  				});
  				
				//设置验证码标记为已发送
  				verifyFlag = true
	  			
	  			//倒计时
	  			obj.linkbutton("disable");
	  			$('#vfcBtn span:last').html(("重新发送(" + countdown + ")"));
	  			timer = setInterval(function() { 
					settime(); 
				},1000); 
  			}
  		}
  	    
  		//登录
		function login(){
  			if(verifyFlag){
  				//打开登录等待提示框
  				$("#waitDialog").dialog("open",true);
  				
				var form = $("#loginForm");
				if(form.form('validate')){
					form.form('submit', {
					    success: function(data){
					        var data = eval('(' + data + ')'); 
					        if (data.flag){
					        	//定时器
		  						login_timer = setInterval(function(){
		  							$.post([[@{/web/user/getLoginStatus}]], {_:Math.random()}, function(data){
		  								console.info(data);
			  							if(data.status==1){ //登录成功
			  								window.location.href = [[@{/web/index/main}]];
			  							}else if(data.status==2){ 
			  								//关闭登录等待提示框
			  								$("#waitDialog").dialog("close",true);
			  								$("#code").textbox("clear");
			  								alert("验证码错误，请重新输入");
			  								clearInterval(login_timer);
			  							}
		  							});
		  						},1000);
					        }else{
					        	//关闭登录等待提示框
  								$("#waitDialog").dialog("close",true);
					        	alert("数据不合法");
					        }
					    }
					});
				}
  			}else{
  				alert("请先获取验证码");
  			}
		}
  	/*]]>*/
  	</script>
  	
  	<style>
  		.panel-title{
  			line-height: 20px;
  			margin-left: 6px;
  		}
  		#waitDialog{
  			text-align: center;
  			line-height: 120px;
  		}
  	</style>
  	
	<body class="loginBody" style="overflow: hidden;">
		<section class="header">
			<div class="login-center">
			<div class="loginheader">
				<div class="logo fll">
					<a th:href="@{/web/index/main}">
						<img th:src="@{/web/assets/img/logo.png}" style="width:131px"/>
					</a>
				</div>
			</div>
			</div>
		</section>
		<section class="login">
			<div class="login-bg"></div>
			<div class="login-center">
			<div class="login-box">
				<div class="box-top">
					<span class="top-title fll" style="color:#CCC">登录</span>
					<span class="register-link flr">
						<a th:href="@{/web/index/main}" style="color:#CCC">返回首页</a>
					</span>
				</div>
				<div class="clr"></div>
				<div class="login-body">
					<form id="loginForm" method="post" th:action="@{/web/user/signin}">
						<div style="margin-bottom: 20px">
							<input id="phone" name="phone" type="text" class="easyui-textbox" style="padding:10px" data-options="width:283,prompt:'请输入手机号',validType:['isPhone'],required:true,validateOnCreate:false"/>
						</div>
						<div style="margin-bottom: 20px">
							<input id="code" name="code" type="text" class="easyui-textbox" style="padding:10px" data-options="width:180,prompt:'请输入验证码',required:true,validateOnCreate:false"/>
							<a id="vfcBtn" href="#" class="easyui-linkbutton c1" data-options="onClick:sendVerifyCode" style="width:100px;height:30px;">获取验证码</a>
						</div>
						<div style="margin-bottom: 15px">
							<a href="#" class="easyui-linkbutton" data-options="onClick:login" style="width:283px;height:35px">登 录</a>
						</div>
						<div>
							<span style="color:white">第三方登录：</span>
							<img alt="qq" th:src="@{/assets/imgs/qq_login.png}" />
						</div>
					</form>
				</div>
			</div>
			</div>
		</section>
		
		<div id="waitDialog" class="easyui-dialog" title="系统消息" data-options="modal:true,closable:false,closed:true,width:400,height:200,padding:10">
	    	登录中，请稍等片刻.
	    </div>
		
		<section class="footerBox">
			<div class="footer">
				<div class="footer-left fll">
					<div class="footer-list1 list">
						<ul>
							<li>
								<a href="javascript:">网站首页</a>
							</li>
							<li>
								<a href="javascript:">诚聘英才</a>
							</li>
						</ul>
					</div>
					<div class="footer-list2 list">
						<ul>
							<li>
								<a href="javascript:">商家帮助</a>
							</li>
							<li>
								<a href="javascript:">隐私保护</a>
							</li>
						</ul>
					</div>
					<div class="footer-list3 list">
						<ul>
							<li>
								<a href="javascript:">网站公告</a>
							</li>
							<li>
								<a href="javascript:">新闻动态</a>
							</li>
						</ul>
					</div>
					<div class="footer-list4 list">
						<ul>
							<li>
								<a href="javascript:">关注我们</a>
							</li>
							<li>
								<a href="javascript:">政策法律声明</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-right flr">
					<div class="pic1 erweima">
						<!--<p>微信服务号</p>-->
						<p><img th:src="@{/web/assets/img/icon-01.gif}" /></p>
					</div>
					<div class="pic2 erweima">
						<!--<p>客户端下载</p>-->
						<p><img th:src="@{/web/assets/img/icon-02.gif}" /></p>
					</div>
				</div>
				<div class="clr"></div>
				<div class="adress">
					<p>© 和包村 2016-2017 All Rights Reserved. 未经许可 不得抄袭本站图片和内容</p>
				</div>
			</div>
		</section>
	</body>
</html>
