<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragment/web_import :: header"></head>
	
	<!-- easyui -->  
  	<script th:src="@{/assets/plugins/easyui/jquery.easyui.min.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
  	<script th:src="@{/assets/plugins/easyui/custom/common.js}"></script> 
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/material/easyui.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/icon.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/themes/color.css}" />
  	<link rel="stylesheet" th:href="@{/assets/plugins/easyui/custom/common.css}" />
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(function(){
			
			//初始化订单状态
			var arr = [{id:2,name:"待发货"},{id:3,name:"待收货"},{id:4,name:"待评价"},{id:5,name:"已完成"}];
			var status = $(".status");
			$.each(status,function(){
				var obj = $(this);
				$.each(arr,function(i,v){
					if(obj.text()==v.id){
						obj.text(v.name)
					}
				});
			});
			
		});

		//更新订单状态
		function update(){
			var obj = $(this);
			if(obj.text()=="确认收货"){
				cConfirm("确定要确认收货吗",function(flag){
					if(flag){
						$.post([[@{/web/order/update}]],{_:Math.random(),oid:obj.attr("id"),status:4},function(data){
							if(data.flag){
								alert("收货成功");
								var active = $(".active").attr("id");
								if(active=="-1"){
									window.location.href = [[@{/web/order/index}]];
								}else{
									window.location.href = [[@{/web/order/index}]] + "?status=" + active;
								}
							}else{
								alert("收货失败");
							}
						});
					}
				});
			}else if(obj.text()=="待评价"){
				var active = $(".active").attr("id");

			}else if(obj.text()=="删除"){
				cConfirm("确定要删除吗",function(flag){
					if(flag){
						$.post([[@{/web/order/update}]],{_:Math.random(),oid:obj.attr("id"),status:6},function(data){
							if(data.flag){
								alert("删除成功");
								var active = $(".active").attr("id");
								if(active=="-1"){
									window.location.href = [[@{/web/order/index}]];
								}else{
									window.location.href = [[@{/web/order/index}]] + "?status=" + active;
								}
							}else{
								alert("删除失败");
							}
						});	
					}
				});
			}
		}
	/*]]>*/
	</script>
	
	<body class="carBody allBody">
		<section class="topStep">
			<div class="stepBox">
				<div class="box-menu flr">
					<ul>
						<li>
							<a id="-1" th:href="@{/web/order/index}" th:class="${status==null?'active':''}">所有订单</a>
						</li>
						<li class="spacer"></li>
						<li>
							<a th:id="${orderStatus.WAIT_SEND}" th:href="@{/web/order/index(status=${orderStatus.WAIT_SEND})}" th:class="${status==orderStatus.WAIT_SEND?'active':''}">待发货</a>
						</li>
						<li class="spacer"></li>
						<li>
							<a th:id="${orderStatus.WAIT_RECEVIE}" th:href="@{/web/order/index(status=${orderStatus.WAIT_RECEVIE})}" th:class="${status==orderStatus.WAIT_RECEVIE?'active':''}">待收货</a>
						</li>
						<li class="spacer"></li>
						<li>
							<a th:id="${orderStatus.WAIT_COMMENT}" th:href="@{/web/order/index(status=${orderStatus.WAIT_COMMENT})}" th:class="${status==orderStatus.WAIT_COMMENT?'active':''}">待评价</a>
						</li>
						<li class="spacer"></li>
						<li>
							<a th:id="${orderStatus.DONE}" th:href="@{/web/order/index(status=${orderStatus.DONE})}" th:class="${status==orderStatus.DONE?'active':''}">已完成</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="orderList">
			<div class="list-wrap">
				<div class="wrap-tab">
					<table>
						<tr>
							<th width="395px">宝贝</th>
							<th width="95px">单价</th>
							<th width="30px">数量</th>
							<th width="130px">交易状态</th>
							<th width="150px">交易操作</th>
						</tr>
					</table>
				</div>
				<div th:if="${os!=null}" class="wrap-table list-table" th:each="o:${os}">
					<table class="table-order">
						<tr>
							<th colspan="7">
								<span th:text="${#dates.format(o.create_time,'yyyy-MM-dd')}">2016-09-23</span>
								&nbsp;&nbsp;
								<span th:text="${'订单号：' + o.sn}">订单号：12456645465465</span>
								&nbsp;&nbsp;
								<span th:text="${'运费：' + (o.freight==null?'无':o.freight)}">34</span>
							</th>
						</tr>
						<tr th:each="i:${o.items}">
							<td width="395px">
								<img class="pic-box" style="margin-left: 10px;" alt="展示图" th:src="${application.baseImageUrl + i.image}" />
								<p class="pic-title" th:text="${i.name}">跳转技术交底单是第几滴水</p>
							</td>
							<td width="95px" th:text="${i.price}">￥69.00</td>
							<td width="30px" th:text="${i.quantity}">1</td>
							<td width="130px" class="status" th:text="${o.status}">卖家已发货</td>
							
							<td width="150px" th:if="${o.status==orderStatus.WAIT_SEND}">
								<a th:id="${o.id}" href="#" class="easyui-linkbutton c1" data-options="disabled:true,width:60">确认收货</a>
							</td>
							<td width="150px" th:if="${o.status==orderStatus.WAIT_RECEVIE}">
								<a th:id="${o.id}" href="#" class="easyui-linkbutton c1" data-options="width:60,onClick:update">确认收货</a>
							</td>
							<td width="150px" th:if="${o.status==orderStatus.WAIT_COMMENT}">
								<a th:id="${o.id}" href="#" class="easyui-linkbutton c6" data-options="width:60,onClick:update">待评价</a>
							</td>
							<td width="150px" th:if="${o.status==orderStatus.DONE}">
								<a th:id="${o.id}" href="#" class="easyui-linkbutton c5" data-options="width:60,onClick:update">删除</a>
							</td>
						</tr>
					</table>
				</div>
				<div th:if="${#arrays.isEmpty(os)}" class="wrap-table list-table" style="text-align: center;">
					未查询到订单列表
				</div>
			</div>
		</section>
		<!-- <section class="orderList">
			<div class="list-wrap">
				<div class="wrap-tab">
					<table>
						<tr>
							<th width="395px">宝贝</th>
							<th width="95px">单价</th>
							<th width="30px">数量</th>
							<th width="115px">商品操作</th>
							<th width="95px">实付款</th>
							<th width="130px">交易状态
								<select>
									<option></option>
									<option></option>
									<option></option>
									<option></option>
								</select>
							</th>
							<th width="150px">交易操作</th>
						</tr>
					</table>
				</div>
				<div class="wrap-table list-table">
					<table class="table-order">
						<tr><th colspan="7">2016-09-23&nbsp;订单号：12456645465465</th></tr>
						<tr>
							<td width="395px">
								<div class="pic-box" style="margin-left: 10px; background: url(img/list-pic.png) no-repeat center center;background-size: cover;">
								</div>
								<p class="pic-title">跳转技术交底单是第几滴水</p>
							</td>
							<td width="95px">￥69.00</td>
							<td width="30px">1</td>
							<td width="115px">退款/退货</td>
							<td width="95px">￥69.00</td>
							<td width="130px">卖家已发货</td>
							<td width="150px"><span class="sure-btn">确认收货</span></td>
						</tr>
					</table>
				</div>
				<div class="wrap-table list-table">
					<table class="table-order">
						<tr><th colspan="7">2016-09-23&nbsp;订单号：12456645465465</th></tr>
						<tr>
							<td width="395px">
								<div class="pic-box" style="margin-left: 10px; background: url(img/list-pic.png) no-repeat center center;background-size: cover;">
								</div>
								<p class="pic-title">跳转技术交底单是第几滴水</p>
							</td>
							<td width="95px">￥69.00</td>
							<td width="30px">1</td>
							<td width="115px">退款/退货</td>
							<td width="95px">￥69.00</td>
							<td width="130px">卖家已发货</td>
							<td width="150px"><span class="sure-btn">确认收货</span></td>
						</tr>
					</table>
				</div>
			</div>
		</section> -->
		<iframe MARGINWIDTH='0' MARGINHEIGHT='0' HSPACE='0' VSPACE='0' FRAMEBORDER='0' SCROLLING='no' th:src="@{/web/index/bottom}" width="100%" height="270px"></iframe>
	</body>

</html>