@charset "utf-8";
*{font-size:12px;border:0;margin:0;padding:0;font-family:"微软雅黑";}
body{background: #fff;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#b60072;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
a {cursor: pointer;}
.add {padding-left: 15px;padding-right: 15px;background: #b5b5b5;color: #FFFFFF;font-size: 16px;}
.txl {text-align: left;}
.txr {text-align: right;}
.clr {clear: both;}
.mg-left-10{margin-left: 10px}
.mg-right-10{margin-right: 10px}
.mg-top-10{margin-top: 10px}
.mg-bottom-10{margin-bottom: 10px}
.mg-left-20{margin-left: 20px}
.mg-right-20{margin-right: 20px}
.mg-top-20{margin-top: 20px}
.mg-bottom-20{margin-bottom: 20px}
.bg-1{border-radius: 5px;padding: 20px 15px;background: #f3f3f3;}
.bg-2{border-radius: 5px;padding: 10px 10px 30px 10px;background: #f3f3f3;}
.bg-input {display: inline-block;height: 23px;width: 263px;border: 1px solid #d2d2d2;border-radius: 10px;}
.bg-input2 {display: inline-block;height: 23px;width: 203px;border: 1px solid #d2d2d2;border-radius: 10px;}
.bg-input,.bg-input2 {text-align: center;background: #FFFFFF;}
.btn-1{border-radius: 5px;padding: 4px 20px;background: #17a9ff;color: #FFFFFF;cursor:pointer;}/*search save view*/
.btn-edit-red{padding: 3px 15px;border-radius: 15px;background: #fb6e52;color: #FFFFFF;}
.btn-edit-red:HOVER{color:white}
.btn-edit-grey{padding: 3px 15px;border-radius: 15px;background: #b5b5b5;color: #FFFFFF;}
.btn-edit-blue{padding: 3px 15px;border-radius: 15px;background: #17a9ff;color: #FFFFFF;}
.btn-edit-blue:HOVER{color:white}
.btn-up{padding: 5px 30px;border-radius: 3px;background:#17a9ff;color: #FFFFFF;}
.btn-day{padding: 5px 45px;border-radius: 3px;color: #FFFFFF;background:#17a9ff;}
.bgc-grey {background: #f3f3f3;}
.bgc-blue {background: #17a9ff;}
.bgc-lightgrey {background: #f9f9f9;}
.bgc-color {background: #E0E0E0;}
.bgc-color a {color:#17A9FF}
.select{height: 23px;width: 88px;border: 1px solid #cccccc;}
.input1 {width: 178px;height: 23px;}
.input2 {width: 148px;height: 23px;}
.input3 {width: 108px;height: 23px;}
.input4 {width: 83px;height: 23px;}
.input5 {width: 63px;height: 23px;}
.input1,.input2,.input3,.input4,.input5{border: 1px solid #d2d2d2;border-radius: 3px;padding-left:5px;}
.container {width:990px;padding-top: 10px;margin: auto;}
.r_container {min-width:90%;max-width:96%;padding-top: 10px;margin-left: 20px;}
.header {padding-bottom: 5px;border-bottom: 1px solid #d2d2d2;text-align: left;}
.header img {vertical-align: bottom;}
.header2 {text-align: left;}
.wd55 {display:inline-block;width:55px;text-align:left;}
.wd65 {display:inline-block;width:67px;text-align:left;}
.pr5 {padding-right:5px;}
.ml40 {margin-left:40px;}
/* .header2 span {margin-left: 8px;} */
.header2 span.line {display: inline-block;float: right;margin-top:8px; width: 93%;border-bottom: 1px solid #d2d2d2;}
.table table {width: 100%;}
.table table tr td{border-bottom:1px solid #dddddd;padding: 10px;text-align: center;}
.table table tr th{border-top: 1px solid #DDDDDD;background: #f9f9f9;font-weight: normal;padding: 5px;}
.table2 table {width: 480px;border:1px solid #dddddd;overflow-y: scroll;}
.table2 table tr td{padding: 10px;text-align: center;background: #f3f3f3;}
.table2 table tr th{background: #f9f9f9;font-weight: normal;padding: 10px;}
.selectBox {display: inline-block;}
.textarea {border: 1px solid #d2d2d2;}



.fll {float: left;}
.flr {float: right;}
/*
 basic rule
 * */
.head {height: 45px;width: 100%;position: fixed;top: 0px;background: #f7f7f7;z-index:100;}
.headerLogin {width: 72%;margin: auto;}
.headerLogin .blue {font-size: 14px;color: #17a9ff;line-height: 30px;margin-left: 45px;}
.headerLogin .blue img {height:45px;}
.headerLogin .flr {line-height: 45px;}
.headerLogin .mr10 {margin-right: 10px;}
.headerLogin .mr10:hover {color:#17a9ff;}
.headerLogin .mr24 {margin-right: 24px;}
.headerLogin .mr24:hover {color:#17a9ff;}
.headerLogin .mr60 {margin-right: 60px;}
.containerLogin {width: 72%;margin: auto;margin-top: 45px;}
.containerLogin div {font-size: 0px;}
.containerLogin div img {width: 100%;}
.containerLogin .pic3 {position: relative;margin-top: -4%;}
.maskLogin {display: none; position: fixed;top:0px;left:0px;width: 100%;height: 100%;z-index: 99;background: rgba(0,0,0,0.3);}
.loginBox {display: none; width: 217px;position: fixed;z-index: 100;top: 45px;right: 14%;background: #FFFFFF;}
.login{width: 205px;margin-left: 8px;}
.login p {line-height: 35px;}
.login .mt15 {margin-top: 15px;}
.login .inputBox {border: 1px solid #dddddd;height: 28px;}
.login .inputBox input {float: right;height: 28px;width: 173px;color: #B5B5B5;}
.login .inputBox input:focus {outline-offset: 0px;border: 0px;outline:0px;color: #B5B5B5;}
.login .btn {width: 205px;}
.login .btn span,.login .btn button{position: relative;}
.login .btn button {width: 100%;display: inline-block;height: 28px;width: 100%;background: #017dc3;line-height: 28px;margin-top: 15px;margin-bottom: 27px;color: #FFFFFF;}






/*****************pop******************/
.pop,.mask {display: none;}
.mask {z-index: 1001;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #080808;filter: alpha(opacity=65);opacity: 0.65;}
.pop {width: 500px;height: 400px;width: 530px;height: 375px;text-align: center;z-index: 9999;left: 50%;top: 50%;margin: -185px -265px;position: absolute;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: #fff;}
.pop #auth_close {float: right;margin-right: 3px;margin-top: 2px;}
.pop .popItem {
    font-size: 20px;
    color: #fb6e52;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}
.popTable table {
    width: 95%;
    margin: auto;
}
.popTable tr {
    border-bottom: 1px solid #EEEEEE;
    height: 65px;
}
.popTable tr th {
    font-size: 15px;
    font-weight: normal;
    color: gray;
    text-align: right;
    padding-right: 25px;
}
.popTable tr td {
    text-align: left;
}
.popbuttom {
	position: absolute;
	bottom: 30px;
	left: 215px;
    padding: 7px 40px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #fb6e52;
    cursor: pointer;
}
/*****************left mune******************/

.menuA {padding-left: 10px;display: inline-block;background: #f3f3f3;}
.active {background: #FFFFFF;border-bottom-left-radius: 6px;border-top-left-radius: 6px;border-bottom: 1px solid #d2d2d2;}
.secMenu {display: none;}
.secMenu a:hover {color: #17A9FF;}/*鼠标经过的颜色变化*/
.secMenu li {width: 160px;margin:10px auto;border-radius: 6px; color: #dcdcdc;padding-top: 15px;padding-bottom: 15px;text-align: center;cursor:pointer;}
.firMenu label{font-size: 15px;display:inline-block;width: 200px;line-height: 53px;cursor:pointer;}
/* .firMenu label a {color: #17a9ff;} */
.firMenu label a:hover {color: #17A9FF;}
.firMenu label img {float: left; margin-left: 15px;margin-right:15px ;padding-top: 15px;padding-bottom: 15px;}

/**********************top*******************/

.top {height: 34px;border-bottom: 1px solid #dddddd;}
.top span{float: left;line-height: 36px;font-size: 16px;color: #17A9FF;padding-left: 40px;}
.top img {float: right;padding:5px 10px;border-left: 1px solid #DDDDDD;padding-right: 40px;cursor: pointer;}

/*************************登录页面*******************/

.submit2 {text-align:center;line-height:35px;margin-top:-30px;}
.inputbox {width:310px;margin:auto;}
.inputbox label input {float:left;margin-top:2px;margin-right:5px;}
.inputbox1 {position:absolute;bottom:20px;}
.loginbody {position:relative;}
.systemlogo {position:absolute;width:100%;text-align: center;}
.systemlogo span {font-weight:100;}
.loginbm {width:100%;text-align:center;position:fixed;bottom:0px;line-height:3.5;font-size:15px;}
.loginbg {position:absolute;height:45%;background:#ebebeb;width:100%;bottom:0px;z-index:-1;}
.loginbody {width:40%;margin-left:30%;background:#ffffff;}
.sp1 {background: url(../images/locked.png) no-repeat 0 0;}
.sp2 {background: url(../images/message.png) no-repeat 0 2px;}
.sp3 {background: url(../images/teled.png) no-repeat 0 0;}
.submitBox {position: relative;width: 100%;height: 244px; display: table;background: #fff; padding-top: 100px;}
.input {
  position: relative;
  width: 310px;
  height: 38px;
  margin: 12px auto;
  border-radius: none;
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 12px;
  font-size: 20px;
  height: 20px;
  width: 15px;
}
.input input {
  width:263px;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #FF7052;
  width:293px;
}
.submit {
  width: 310px;
  height: 35px;
  display: block;
  margin:auto;
  background: #ff5a60;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

/**********************活动商品管理*******************/

.activeAmin .bg-1 {margin-top: 20px;margin-bottom: 20px;}
.activeAmin .bg-1 div:nth-of-type(1) {margin-bottom: 10px;}
.activeAmin .bg-1 div label {display: inline-block; width: 55px;text-align: left;}
.activeAmin .bg-1 div input,.activeAmin .bg-1 div select {margin-right: 40px;}
.activeAmin .bg-1 div input[type="submit"]{margin-right:0px;margin-left:5px;}
/* .activeAmin .bg-1 div span{margin-right: 10px;} */

/**********************销量管理*******************/

.salesAdmin .bg-1 {margin-top: 20px;margin-bottom: 20px;}
.salesAdmin .bg-1 div label {display: inline-block; width: 55px;text-align: left;}
.salesAdmin .bg-1 div input,.activeAmin .bg-1 select {margin-right: 40px;}
/* .salesAdmin .bg-1 div span{margin-right: 10px;} */
.salesAdmin div span.btn-day {margin-right: 10px;display: inline-block;}
.salesAdmin .table {margin-top: 10px;}

/**********************活动商品添加********************/

.activeEdit .header2 {margin: 20px auto 15px;}
.activeEdit .bg-1 label{width: 110px;display: inline-block;}
.activeEdit .bg-1 span {margin-right: 30px;}
.activeEdit .bg-1 input[type='text']{margin-right: 20px;}
.activeEdit .table {margin-top: 10px;}
.activeEdit p {text-align: right;margin-top: 20px;margin-bottom: 20px;}

/**********************普通商品分类设置****************/

.classSet .table2 span.btn-edit-red {margin-right: 3px;}
.classSet p {margin: 10px auto;}

/************************更新管理*********************/

.updateAdmin .bg-1{margin: 15px auto ;}
.updateAdmin .bg-1 label {width: 100px;display: inline-block;}

/**********************权限管理**********************/

.powerAdmin .bg-1 {margin: 20px auto 10px;}
.powerAdmin .bg-1 label {margin-left: 10px;}
.powerAdmin .bg-1 label.ml40 {margin-left:40px;}
.powerAdmin .bg-1 .input2 {margin-right: 10px;}
/**********************用户账号管理*******************/

.accountAdmin .bg-1 {margin: 20px auto 10px;}
.accountAdmin .bg-1 label {margin-left: 10px;}
.accountAdmin .bg-1 label.ml40 {margin-left:40px;}
.accountAdmin .bg-1 select {margin-right: 20px;}
.accountAdmin .bg-1 .input2 {margin-right: 10px;}
.accountAdmin .table span.btn-edit-red{margin-right: 5px;cursor:pointer;}
.accountAdmin .table span.btn-edit-blue{margin-right: 5px;cursor:pointer;}

/**********************普通商品新增*******************/

.commonAdd .header2 {margin: 15px auto;}
.commonAdd .info label:FIRST-CHILD{display: inline-block;width: 70px;}
.commonAdd .classify label:FIRST-CHILD{display: inline-block;width: 100px;}
.commonAdd .bg-12 textarea{vertical-align: top;}
.commonAdd .bg-13 label:FIRST-CHILD {display: inline-block;}
.commonAdd .bg-13 label.long {width: 200px;text-align: right;margin-right: 20px;}
.commonAdd p {text-align: right;margin-top: 20px;margin-bottom: 20px;}

.bg-12 table tr td a.btn-edit-blue,.bg-12 table tr td a.btn-edit-grey{border-radius: 5px;padding: 5px 8px;}
.bg-12 table tr td a:hover {color: #FFFFFF;}
.bg-12 table tr th,.bg-12 table tr td {font-weight: normal;padding:10px;border: 1px solid #c1c1c1;}
.bg-12 table tr.addtr td {font-size: 0px; border: none;text-align: right;padding: 0;}
.addtr td span {padding: 0px 20px;background: #b5b5b5;color: #FFFFFF;}

/**********************普通商品管理*******************/

.commonAdmin .bg-1 div.selectBox select{margin-right: 10px;}

/**************************app管理*******************/

.appAdmin .appAdmintable2 table{width:100%}
.appAdmin .bg-1 label {margin-right: 15px;}
.appAdmin .bg-1 .timeTable tr th label,.appAdmin .bg-1 .timeTable tr th span{font-weight: normal;}
.appAdmin .bg-1 .timeTable tr th ,.appAdmin .bg-1 .timeTable tr td {padding-right: 10px;padding-top: 10px;}

/************************商铺新增*********************/

.shopAdd .bg-1 {margin-top: 20px;margin-bottom: 20px;}
.shopAdd .bg-1 label {margin-right: 10px;}
.shopAdd .textarea label{vertical-align: top;}
.shopAdd .sure {text-align: center;}

/************************商铺管理*********************/

.shopAdmin .bg-1 .bg-input {margin-right: 50px;}
.shopAdmin .bg-1 .bg-input input,.shopAdmin .bg-1 .bg-input2 input{border: 0px;margin-right: 0px;}
.shopAdmin .bg-1 .bg-input2 img {float: left;margin-top: 2px;margin-left: 2px;width: 20px;}
.shopAdmin .table .btn-edit-red {margin-right: 5px;}
.shopAdmin .bg-input input:focus,.shopAdmin .bg-input2 input:focus{outline-offset:0px;outline:0px;}

/*******************到账响应详情*******************/

.responseDetail .header2 {margin: 15px auto;}
.responseDetail .bg-1 span {color: grey;margin-right: 20px;}
.tableBox table {width: 100%;}
.tableBox table tr {border-bottom: 1px solid #F1F1F1;}
.tableBox table th {height: 35px;background: #f1f1f1;font-weight: normal;}
.tableBox table td {padding: 15px 20px;text-align: center;border-left: 1px solid #F1F1F1;background: #f7fbff;}
.tableBox .orderNum {text-align: left;}
.tableBox .orderDisr {text-align: left;text-justify:distribute;}
.tableBox .orderImg img{width: 90px;height: 90px;}

/*---------------- 异常页面 ------------------*/

/* 404 */
.fzf{
	background-image:url('../imgs/error/404.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	overflow: hidden;
}

/* 403 */
.fzt{
	background-image:url('../imgs/error/403.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	overflow: hidden;
}

/* 500 */
.fzz{
	background-image:url('../imgs/error/500.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	overflow: hidden;
}

/********************分页条样式**********************/

div.paginate, span.paginate-no-result {
    display: block;
    padding: 0.2em;
    text-align: center;
    margin-bottom: 0.4em;
}
a.paginate-first { margin-right: 0.6em; }
a.paginate-first:before { content: '« '; font-weight: bolder; }
a.paginate-previous { margin-right: 0.6em; }
a.paginate-previous:before { content: '‹ '; font-weight: bolder; }
a.paginate-next { margin-left: 0.6em; }
a.paginate-next:after { content: ' ›'; font-weight: bolder; }
a.paginate-last { margin-left: 0.6em; }
a.paginate-last:after { content: ' »'; font-weight: bolder; }
select.new_select {
	border:1px solid #ccc; 
	width: 150px;
	padding-top: 5px;
	height: 32px;
}
input.new_input {
	border:1px solid #ccc;
	height: 32px;
	line-height:32px;
	width: 150px;
}
.pagination {
	margin: 5px 0
}
.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
}
.pagination ul>li {
	display: inline
}
.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 25px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
	{
	background-color: #f5f5f5;
}
.pagination ul>.active>a,.pagination ul>.active>span {
	color: #999;
	cursor: default
}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus
	{
	color: #999;
	cursor: default;
	background-color: transparent
}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px
}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px
}
.pagination-centered {
	text-align: center
}
.pagination-right {
	text-align: right
}
.pagination-large ul>li>a,.pagination-large ul>li>span {
	padding: 11px 19px;
	font-size: 17.5px
}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span
	{
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topleft: 6px
}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span
	{
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px
}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span
	{
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px
}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span
	{
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px
}
.pagination-small ul>li>a,.pagination-small ul>li>span {
	padding: 2px 10px;
	font-size: 11.9px
}
.pagination-mini ul>li>a,.pagination-mini ul>li>span {
	padding: 0 6px;
	font-size: 10.5px
}
.autobreak td{word-wrap:break-word;word-break:break-all}
